*.pyc
# ignore emacs and vim tmp files
.ropeproject
.*.*.sw*
\#*\#
*~

# ignore development db files
*.sqlite
.sass-cache/

# Chef
deploy/chef/cookbooks
deploy/chef/tmp

# ignore environment and local settings files
tmp/
source/settings/local.py
source/settings/passwords.py
media/
static/
!media/avatars/default.jpg
source/static/
public/CACHE/
