{% extends "base.html" %}

{% block body_class %} class="home"{% endblock %}

{% block content %}
  <div class="col-4 intro">
    <p>Passion One Bold 24/30px is upon us. Donut tart soufflé jelly. Tiramisu jelly-o donut croissant dragée cupcake applicake soufflé. Lollipop macaroon biscuit applicake gummies soufflé jujubes. </p>
  {% include "widgets/dots.html" with class=" alpha" %}
  {% include "theleague/widgets/rankings.html" with class=" omega" %}
  </div>
  {% include "theleague/widgets/scoreboard.html" %}
  {% include "theleague/widgets/week.html" with class=" omega" %}
  {% include "theleague/widgets/standings.html" %}
{% endblock content %}
