{% extends "base.html" %}

{% block body_class %} class="home"{% endblock %}

{% block content %}
  <div class="col-4">
    <p class="intro">Every week, 18 of New York City's finest digital agencies hoist beers and go paddle-to-paddle for spin supremacy. The rivalries may be digital, but the pong is IRL. This is the Digital Ping Pong League.</p>
  {% include "widgets/dots.html" with class=" alpha" %}
  {% if WE_LIVE_YO %}
    {% include "theleague/widgets/rankings.html" with class=" omega" %}
  {% else %}
    {% include "theleague/widgets/ranking_explanation.html" with class=" omega" %}
  {% endif %}
  </div>
  <div class="col-8">
  {% include "theleague/widgets/scoreboard.html" with class=" alpha" %}
  {% include "theleague/widgets/week.html" with class=" omega" current_round=current_round %}
  {% if WE_LIVE_YO %}
    {% include "theleague/widgets/standings.html" with class=" alpha omega" %}
  {% else %}
    <div class="paddle">
      <h3>Season has started!<br/>Got your push, chops, loops, smash, lobs, and flicks in order?</h3>
    </div>
  {% endif %}
  </div>
{% endblock content %}
