{% extends "base.html" %}

{% block content %}
<section class="col-12 grid rules">
  <h1>Rules of the League</h1>
  <div class="copy">
  <p>
  <strong>Each week</strong> four predetermined players will play four games and those games’ scores will count for an overall record. Which four players play can rotate between weeks. 
  </p>
  <p>
  <strong>Every team</strong> will finish each week with a four game record (eg 4-0, 3-1, 2-2, etc). League games must be mutually agreed upon as being official before they begin. A games is the best of 3 matches to 11, switching serve on 2.
  </p>
  <p>
  <strong>The official</strong> in game rules are those outlined by the ITTF : <a href="http://www.usatt.org/rules/index.shtml">http://www.usatt.org/rules/index.shtml</a>
  </p>
  <p>
  <strong>Each week,</strong> the home team captains will be responsible for reaching out to his/her opponent and scheduling his/her game that week. That captain will also be responsible for updating the schedule with the game scores. 
  </p>
  <p>
  <strong>Remember,</strong> in game point counts do not matter, simply the overall win record across the four official games per week need to be reported.
  </p>
  <p>
  <strong>Clearly</strong> this is a social league and any/all disputes need to be resolved during game play. Should a dispute arise, we would strongly suggest taking a drink before attempting a resolution.
  </p>
  </div>
</section>
{% endblock content %}
