* { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }

@font-face {
    font-family:'AlfaSlabRegular';
    src:url('../fonts/alfaslabone-regular.eot');
    src:url('../fonts/alfaslabone-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alfaslabone-regular.woff') format('woff'),
         url('../fonts/alfaslabone-regular.ttf') format('truetype'),
         url('../fonts/alfaslabone-regular.svg#AlfaSlabRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'PassionBold';
    src:url('../fonts/passionone-bold.eot');
    src:url('../fonts/passionone-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/passionone-bold.woff') format('woff'),
         url('../fonts/passionone-bold.ttf') format('truetype'),
         url('../fonts/passionone-bold.svg#PassionBold') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'PassionRegular';
    src:url('../fonts/passionone-regular.eot');
    src:url('../fonts/passionone-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/passionone-regular.woff') format('woff'),
         url('../fonts/passionone-regular.ttf') format('truetype'),
         url('../fonts/passionone-regular.svg#PassionRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}

/* HTML5 display definitions */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video { display:inline-block; *display:inline; *zoom:1; }
audio:not([controls]) { display:none; }
[hidden] { display:none; }
/* Base */
html, body { height:100%; }
html { font-size:100%; overflow-y:auto; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { background:#cccbc2 url(../images/backgrounds/body.gif); margin:0; }
body, button, input, select, textarea { color:#5e5d57; font:15px 'PassionRegular', sans-serif; font-weight:normal !important; line-height:1.22; }
/* Links */
a { color:#3c6e88; text-decoration:none; }
a:visited {  }
a:hover { color:#195879; text-decoration:none; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }

p { margin:0; padding:10px 0; }
/* Typography */
abbr[title] { border-bottom:1px dotted; }
b, strong {  }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr { border:0 #e2e6e6 solid; border-top-width:1px; clear:both; display:block; height:1px; margin:10px 0; }
ins { background:#ff9; color:#000; text-decoration:none; }
mark { background:#ff0; color:#000; font-style:italic; font-weight:bold; }
/* Redeclare monospace font family:h5bp.com/j */
pre, code, kbd, samp { font-family:monospace, monospace; _font-family:'courier new', monospace; font-size:1em; }
/* Improve readability of pre-formatted text in all browsers */
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
q { quotes:none; }
q:before, q:after { content:""; content:none; }
small { font-size:85%; }
/* Position subscript and superscript content without affecting line-height:h5bp.com/k */
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
h1, h2, h3, h4, h5, h6 { color:#45443f; margin:0; padding:10px 0; text-rendering:optimizeLegibility; }
h1, h1 a { font-size:26px; padding-top:0; }
h2, h2 a { font-size:24px; }
h3, h3 a { font-size:21px; }
h4, h4 a { font-size:18px; }
h5, h5 a { font-size:16px; }
h6, h6 a { font-size:14px; }
/* Lists */
dd { margin:0 0 0 40px; }
ul, ol { padding:10px 10px 10px 30px; }
ul li { background:transparent url(../images/bullet.gif) 0 6px no-repeat; list-style:none; padding:0 0 8px 10px; }
ol {  }
ol li { list-style:decimal; margin:0 0 0 10px; padding:0 0 8px 0; }
nav ul, nav ol, nav li { background:none; margin:0; padding:0; }
blockquote { color:#76888a; font-size:16px; font-style:italic; padding:10px 0; }
blockquote p { padding:0 }
img { border:0; -ms-interpolation-mode:bicubic; vertical-align:middle; }
/* Correct overflow not hidden in IE9 */
svg:not(:root) { overflow:hidden; }
/* Figures */
figure { margin:0; }
/* Forms */
form { margin:0; }
fieldset { border:0; margin:0; padding:0; }
/* Indicate that 'label' will shift focus to the associated form element */
label { color:#fff; cursor:pointer; display:block; font-size:18px; margin-bottom:13px; text-transform:uppercase; text-shadow:rgba(6,4,6,0.15) -1px 1px, rgba(6,4,6,0.15) -2px 2px;}
legend { border:0; *margin-left:-7px; padding:0; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }
button, input { line-height:normal; *overflow:visible; }
button:active, .button:active { position:relative; top:1px; }
/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input { *overflow:auto; }
button, select, input[type="button"], input[type="reset"], input[type="submit"], input[type='file'] { cursor:pointer; }
button, input[type="button"], input[type="reset"], input[type="submit"] { background:#2d2c29; border:0; color:#fff; font-size:18px; height:31px; line-height:31px; padding:0 18px; text-transform:uppercase;
-webkit-appearance:button; }
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover { background:#000; }

/* Consistent box sizing and appearance  */
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; padding:0; *width:13px; *height:13px; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
input[type='text'],
input[type='email'],
input[type='password'],
input[type='url'],
textarea { border:0; color:#45443f; font-size:18px; height:35px; line-height:35px; margin-bottom:10px; padding-left:10px; width:260px; }
textarea { overflow:auto; vertical-align:top; resize:vertical; }
/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid {  }
/*Tables*/
table { border-collapse:collapse; border-spacing:0; padding:10px 0; }
td, th { padding:5px; }
th { font-weight:bold; }
td { vertical-align:top; }

::-moz-selection { background:#6FFF00; color:#fff; text-shadow:none; }
::selection { background:#6FFF00; color:#fff; text-shadow:none; }
::-webkit-input-placeholder { color:#a2a19a; text-transform:uppercase; }
::-moz-placeholder { color:#a2a19a; text-transform:uppercase; }

/* Put all the transition elements here */
a, button, input, #sign-in form, #sign-in .flag, .col-2.week {
     -o-transition-duration:.15s;
   -moz-transition-duration:.15s;
-webkit-transition-duration:.15s;
        transition-duration:.15s;
     -o-transition-timing-function:ease-in;
   -moz-transition-timing-function:ease-in;
-webkit-transition-timing-function:ease-in;
        transition-timing-function:ease-in;
     -o-transition-property:color, background-color;
   -moz-transition-property:color, background-color;
-webkit-transition-property:color, background-color;
        transition-property:color, background-color;
}
a:focus, button:focus, label:focus, select:focus, textarea:focus { outline:1px dotted #6FFF00; }
input:focus { outline:0;
   -moz-box-shadow:-2px 2px 1px 0px rgba(6, 4, 6, 0.25);
-webkit-box-shadow:-2px 2px 1px 0px rgba(6, 4, 6, 0.25);
      box-shadow:-2px 2px 1px 0px rgba(6, 4, 6, 0.25); }
input {
     -o-transition-property:box-shadow;
   -moz-transition-property:box-shadow;
-webkit-transition-property:box-shadow;
        transition-property:box-shadow;
}

h1, h2, h3, h4, h5, h6, label, #sign-in .flag { font-family:'AlfaSlabRegular'; font-weight:normal !important; }
b, strong, .intro, button, input[type="button"], input[type="reset"], input[type="submit"], nav li ul a { font-family:'PassionBold'; font-weight:normal !important; }

/* Let's get this party started */
::-webkit-scrollbar { width:12px; }
/* Track */
::-webkit-scrollbar-track { 
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius:10px;
    border-radius:10px;
    background:#fff;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius:10px;
    border-radius:10px;
    background:rgb(126,159,177); 
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive { background:#6FFF00; }


/* CLASSES */
/* For image replacement */
.ir { background:transparent url(../images/backgrounds/ui.png) no-repeat; border:0; direction:ltr; display:block; overflow:hidden; text-align:left; text-indent:-999em; }
.ir br { display:none; }

.hide { display:none !important; visibility:hidden; }
.invisible { visibility:hidden; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { *zoom:1; }
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }
.alert { color:#ff0000; }

.cols {  }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{ display:inline; float:left; margin:0 10px; position:relative; }
.cols .col-1 {width:60px;}
.cols .col-2 {width:140px;}
.cols .col-3 {width:220px;}
.cols .col-4 {width:310px;}
.cols .col-5 {width:380px;}
.cols .col-6 {width:460px;}
.cols .col-7 {width:540px;}
.cols .col-8 {width:620px;}
.cols .col-9 {width:700px;}
.cols .col-10 {width:780px;}
.cols .col-11 {width:860px;}
.cols .col-12 {width:940px;}
.alpha { margin-left:0; }
.alpha { margin-right:0; }
.grid { background:#fff url(../images/backgrounds/grid.png); }

/* LAYOUT */
#container { min-height:100%; margin:0 auto; padding-bottom:60px; position:relative; width:980px; }
header { padding:36px 0 31px; width:320px; }
header h1 { color:#45443f; font-size:50px; line-height:1; padding:0; }
header h2 { color:#fff; font-size:51px; line-height:1; padding:0;
text-shadow:rgba(6,4,6,0.25) -1px 1px, rgba(6,4,6,0.25) -2px 2px; }
/* Look at all these selectors!  Can we optimize this? */
nav { border-top:5px solid #fff; border-bottom:1px solid #fff; margin-top:17px; }
nav > ul { line-height:30px; margin:0; padding:0; position:relative; }
nav > ul > li { float:left; line-height:30px; margin:0; padding:0; position:relative; text-transform:uppercase; }
nav > ul > li > a { color:#6e6d67; display:block; font-size:18px; padding:0 19px 0 10px; }
nav > ul > li > a.on { color:#fff; text-shadow:rgba(6,4,6,0.15) -1px 1px, rgba(6,4,6,0.15) -2px 2px; }
nav > ul > li:hover ul { display:block; }
nav > ul > li :last-child a { padding:0 10px 0 18px; }
nav li ul { background:#5a839a url(../images/backgrounds/grid.png); display:none; padding:13px 10px; position:absolute; width:220px; left:-10px; top:30px; z-index:200;
   -moz-box-shadow:-5px 5px 0px 0px rgba(6, 4, 6, 0.2);
-webkit-box-shadow:-5px 5px 0px 0px rgba(6, 4, 6, 0.2);
        box-shadow:-5px 5px 0px 0px rgba(6, 4, 6, 0.2);
}
nav li ul li { margin-bottom:2px; }
nav li ul a { color:#fff; font-size:14px; display:block; }
nav li ul a:hover { background:rgba(255,255,255,0.25); color:#fff; }

#schedule > a:hover { color:#778c39; }
#scores > a:hover { color:#1a9a86; }
#teams > a:hover { color:#3c6e88; }
#rules > a:hover { color:#ce5811; }

#schedule ul { background-color:#778c39; left:0; }
#scores ul { background-color:#1a9a86; }
#teams ul { background-color:#3c6e88; }
#rules ul { background-color:#ce5811; }

#sign-in { height:195px; position:absolute; right:0; top:0; width:340px; }
#sign-in .ir { height:35px; position:absolute; top:10px; right:10px; width:35px; z-index:2000; }
#sign-in .ir:hover { background-position:-125px 0; height:37px; right:8px; width:37px; }
#sign-in .flag { color:#fff; display:none; font-size:18px; opacity:0; position:absolute; right:56px; text-transform:uppercase; top:18px; text-shadow:rgba(6,4,6,0.15) -1px 1px, rgba(6,4,6,0.15) -2px 2px; }
#sign-in .flag.on { display:block; opacity:1;
     -o-transition-property:opacity;
   -moz-transition-property:opacity;
-webkit-transition-property:opacity;
        transition-property:opacity;
}
#sign-in form { background-color:#994148; height:100%; padding:20px; position:absolute; right:0; top:-200px; width:100%; z-index:1900;
   -moz-box-shadow:-5px 5px 0px 0px rgba(6, 4, 6, 0.2);
-webkit-box-shadow:-5px 5px 0px 0px rgba(6, 4, 6, 0.2);
        box-shadow:-5px 5px 0px 0px rgba(6, 4, 6, 0.2);
     -o-transition-duration:.25s;
   -moz-transition-duration:.25s;
-webkit-transition-duration:.25s;
        transition-duration:.25s;
     -o-transition-property:top;
   -moz-transition-property:top;
-webkit-transition-property:top;
        transition-property:top;
}
#sign-in form.on { top:0; }

footer { color:#9e9e93; height:60px; margin:-60px auto 0; padding-top:24px; position:relative; text-align:right; width:940px; }
footer .ir { display:inline-block; }
footer .bbox { background-position:-125px -40px; height:13px; margin:2px 0 0 8px; width:73px; }
footer .bbox:hover { background-position:-125px -78px; }
footer .thomp { background-position:0px -40px; height:29px; margin:0 16px 0 8px; width:84px; }
footer .thomp:hover { background-position:0 -78px; }

.intro { color:#fff; font-size:24px; line-height:1.25; text-shadow:rgba(6,4,6,0.15) -1px 1px, rgba(6,4,6,0.15) -2px 2px; }





.col-3.rankings {  }
.col-3.players {}

.col-2.week { background-color:#cac9bf; margin-top:21px; padding:8px; width:140px;
     -o-transition-property:background-color, box-shadow;
   -moz-transition-property:background-color, box-shadow;
-webkit-transition-property:background-color, box-shadow;
        transition-property:background-color, box-shadow;
}
.col-2.week.on { background-color:#94aa54;
   -moz-box-shadow:-5px 5px 0px 0px rgba(6, 4, 6, 0.2);
-webkit-box-shadow:-5px 5px 0px 0px rgba(6, 4, 6, 0.2);
        box-shadow:-5px 5px 0px 0px rgba(6, 4, 6, 0.2);
}
.col-2.week h3 { background:#fff; height:39px; line-height:39px; margin:-21px 8px 10px; padding:0 0 0 10px; }
.col-2.week ul, .col-2.week li { background:none; margin:0; padding:0; }
.col-2.week ul { float:left; margin-bottom:10px; width:97px; }
.col-2.week li a { background:#fff; color:#45443f; display:block; border-top:1px solid #efba00; height:30px; line-height:30px; padding:0 0 0 8px; }
.col-2.week li a:hover { color:#3c6e88; }
.col-2.week ul li:first-child a { border-top:0; }

.ir.division { background-color:#efba00; background-image:url(../images/backgrounds/divisions.png); background-position:8px center; height:150px; float:left; width:28px; }
.ir.badger { background-color:#45443f; background-position:-42px center; }

.col-2.schedule { background-color:#efba00; }
a.more { color:#45443f; display:block; font-size:16px; padding:0 0 0 8px; text-transform:uppercase; }
a.more:hover { color:#fff; }












@media (max-width:480px) { }
@media (max-width:768px) { }
@media (min-width:768px) and (max-width:980px) { }
@media (max-width:980px) { }
@media (min-width:980px) { }
@media (min-width:1200px) { }

@media print {
  * { background:transparent !important; color:black !important; box-shadow:none !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; } 
  a, a:visited { text-decoration:underline; }
  a[href]:after { content:" (" attr(href) ")"; }
  abbr[title]:after { content:" (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
  pre, blockquote { border:1px solid #999; page-break-inside:avoid; }
  thead { display:table-header-group; } 
  tr, img { page-break-inside:avoid; }
  img { max-width:100% !important; }
  @page { margin:0.5cm; }
  p, h2, h3 { orphans:3; widows:3; }
  h2, h3 { page-break-after:avoid; }
}
