@import 'fonts.css.scss';
@import 'mixins.css.scss';

$text-shadow:rgba(6,4,6,0.15) -1px 1px, rgba(6,4,6,0.15) -2px 2px;

$badger-color:#45443f;
$gray:#8f8e88;
$highlight:#6FFF00;
$light-gray:#d0cfcc;
$honey-color:#efba00;
$rules-color:#ce5811;
$schedule-color:#778c39;
$scores-color:#1a9a86;
$scores-color-highlight:#6ccabd;
$teams-color:#3c6e88;

@mixin bounce($pre) {
 0% { top:-45px; -#{$pre}-animation-timing-function:ease-in; }
 20% { top:88px; -#{$pre}-animation-timing-function:ease-out; }
 50% { top:34px; -#{$pre}-animation-timing-function:ease-in; }
 70% { top:88px; -#{$pre}-animation-timing-function:ease-out; }
 90% { top:70px; -#{$pre}-animation-timing-function:ease-in; }
100% { top:88px; -#{$pre}-animation-timing-function:ease-out; }
}
@mixin fade-in {
  0% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes bounce { @include bounce(moz); }
@-ms-keyframes bounce { @include bounce(ms); }
@-webkit-keyframes bounce { @include bounce(webkit); }
@-moz-keyframes fade-in { @include fade-in; }
@-ms-keyframes fade-in { @include fade-in; }
@-webkit-keyframes fade-in { @include fade-in; }

* { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }
/* HTML5 display definitions */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video { display:inline-block; *display:inline; *zoom:1; }
audio:not([controls]) { display:none; }
[hidden] { display:none; }
/* Base */
html, body { height:100%; }
html { font-size:100%; overflow-y:auto; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { background:#cccbc2 url(../images/backgrounds/body.gif); margin:0; }
body, button, input, select, textarea { color:#5e5d57; font:15px 'PassionRegular', sans-serif;
                                        font-weight:normal !important; line-height:1.22; }
/* Links */
a { color:$teams-color; text-decoration:none; }
a:visited {  }
a:hover { color:#195879; text-decoration:none; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
p { margin:0; padding:10px 0; }
/* Typography */
abbr[title] { border-bottom:1px dotted; }
b, strong {  }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr { border:0 #e2e6e6 solid; border-top-width:1px; clear:both; display:block;
     height:1px; margin:10px 0; }
ins { background:#ff9; color:#000; text-decoration:none; }
mark { background:#ff0; color:#000; font-style:italic; font-weight:bold; }
/* Redeclare monospace font family:h5bp.com/j */
pre, code, kbd, samp { font-family:monospace, monospace; _font-family:'courier new', monospace;
                       font-size:1em; }
/* Improve readability of pre-formatted text in all browsers */
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
q { quotes:none; }
q:before, q:after { content:""; content:none; }
small { font-size:85%; }
/* Position subscript and superscript content without affecting line-height:h5bp.com/k */
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
h1, h2, h3, h4, h5, h6 { color:$badger-color; margin:0; padding:10px 0; text-rendering:optimizeLegibility; }
h1, h1 a { color:#fff; font-size:36px; padding-top:0; text-transform:uppercase; }
h2, h2 a { color:#fff; font-size:24px; }
h3, h3 a { font-size:21px; }
h4, h4 a { font-size:18px; }
h5, h5 a { font-size:16px; }
h6, h6 a { font-size:14px; }
/* Lists */
dd { margin:0 0 0 40px; }
ul, ol { padding:10px 10px 10px 30px; }
ul li { background:transparent url(../images/bullet.gif) 0 6px no-repeat;
        list-style:none; padding:0 0 8px 10px; }
ol {  }
ol li { list-style:decimal; margin:0 0 0 10px; padding:0 0 8px 0; }
nav ul, nav ol, nav li { background:none; margin:0; padding:0; }
blockquote { color:#76888a; font-size:16px; font-style:italic; padding:10px 0; }
blockquote p { padding:0 }
img { border:0; -ms-interpolation-mode:bicubic; vertical-align:middle; }
/* Correct overflow not hidden in IE9 */
svg:not(:root) { overflow:hidden; }
/* Figures */
figure { margin:0; }
/* Forms */
form { margin:0; }
fieldset { border:0; margin:0; padding:0; }
/* Indicate that 'label' will shift focus to the associated form element */
label { color:#fff; cursor:pointer; display:block; font-size:18px;
        margin-bottom:13px; text-transform:uppercase; text-shadow:$text-shadow; }
legend { border:0; *margin-left:-7px; padding:0; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }
button, input { line-height:normal; *overflow:visible; }
button:active,
.button:active,
a.more:active,
.dots a:active,
.team-token:active { position:relative; top:1px; }
/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input { *overflow:auto; }
button, select, input[type="button"], input[type="reset"], input[type="submit"], input[type='file'] { cursor:pointer; }
button, input[type="button"], input[type="reset"], input[type="submit"] { background:#2d2c29; border:0; color:#fff; font-size:18px; height:31px; line-height:31px; padding:0 18px; text-transform:uppercase;
-webkit-appearance:button; }
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover { background:#000; }

/* Consistent box sizing and appearance  */
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; padding:0; *width:13px; *height:13px; }
input[type="search"] { -webkit-appearance:textfield; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
input[type='text'],
input[type='email'],
input[type='password'],
input[type='url'],
textarea { border:0; color:$badger-color; font-size:18px; height:35px;
           line-height:35px; margin-bottom:10px; padding-left:10px; width:260px; }
textarea { overflow:auto; vertical-align:top; resize:vertical; }
/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid {  }
/*Tables*/
table { border-collapse:collapse; border-spacing:0; padding:10px 0; }
td, th { padding:5px; }
th { font-weight:bold; }
td { vertical-align:top; }

::-moz-selection { background:$highlight; color:#fff; text-shadow:none; }
::selection { background:$highlight; color:#fff; text-shadow:none; }
::-webkit-input-placeholder { color:#a2a19a; text-transform:uppercase; }
::-moz-placeholder { color:#a2a19a; text-transform:uppercase; }

/* Put all the transition elements here */
a, button, input,
#sign-in form, #sign-in .flag,
.col-2, .col-6,
.standings .bar { @include transition; @include transition-property(#{"color, background-color"}); }
a:focus, button:focus, label:focus, select:focus, textarea:focus { outline:1px dotted $highlight; }
input:focus { outline:0; @include box-shadow(-2px 2px 1px 0px rgba(6, 4, 6, 0.25)); }
input { @include transition; @include transition-property(box-shadow); }

h1, h2, h3, h4, h5, h6, label,
#sign-in .flag, .rules .copy strong { font-family:'AlfaSlabRegular'; font-weight:normal !important; }
b, strong, button,
input[type="button"],
input[type="reset"],
input[type="submit"],
nav li ul a,
.intro,
.rules .copy,
.col-12.scoreboard h2,
.paddle h3 { font-family:'PassionBold'; font-weight:normal !important; }

#messages {
  margin:0 0 10px; padding:0; position:relative; z-index:9999;
  @include box-shadow(-2px 2px 1px 0px rgba(6, 4, 6, 0.25));
  li {
    background:none; color:#000; cursor:pointer; font-size:20px; margin:0;
    opacity:.6; padding:20px; width: 100%;
    &:hover { opacity:.7; }
  }
  .success { background:$highlight; }
  .error { color:#ff0000; }
}

/* Let's get this party started */
::-webkit-scrollbar { width:12px; }
/* Track */
::-webkit-scrollbar-track { background:#fff; border-radius:10px;
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
-webkit-border-radius:10px; }
/* Handle */
::-webkit-scrollbar-thumb { background:rgb(126,159,177); border-radius:10px; cursor:pointer;
-webkit-border-radius:10px;
-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5); }
::-webkit-scrollbar-thumb:window-inactive { background:$highlight; }

/* CLASSES */
/* For image replacement */
.ir { background:transparent url(../images/backgrounds/ui.png) no-repeat; border:0; font:0/0 a; text-shadow:none; color:transparent; }
.ir br { display:none; }
.hide { display:none !important; visibility:hidden; }
.invisible { visibility:hidden; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { *zoom:1; }
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0; }
.alert { color:#ff0000; }
a.more {
  color:$badger-color; display:block; font-size:16px; padding:0 0 0 8px; text-transform:uppercase;
  &:hover { color:#fff; }
}
.edit-link a { font-size:11px; }

/* These have been tweaked from the standard 960gs */
.cols {  }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { display:inline; float:left; margin:0 10px; position:relative; }
.cols {
  .col-1 {width:60px;}
  .col-2 {width:140px;}
  .col-3 {width:220px;}
  .col-4 {width:310px;}
  .col-5 {width:380px;}
  .col-6 {width:460px;}
  .col-7 {width:540px;}
  .col-8 {width:640px; margin-right:-10px; }
  .col-9 {width:700px;}
  .col-10 {width:780px;}
  .col-11 {width:860px;}
  .col-12 {width:980px; margin-left:0; margin-right:0;}
}
.alpha { margin-left:0; }
.omega { margin-right:0; }
.grid { background:#fff url(../images/backgrounds/grid.png); }

/* LAYOUT */
#container { min-height:100%; margin:0 auto; padding-bottom:60px; position:relative; width:980px; z-index:100; }

#ball {
  background:#fff; height:38px; left:180px; position:absolute; top:-45px; width:38px;
  @include border-radius(19px);
  @include box-shadow(-4px 4px 0px 0px rgba(4, 6, 4, 0.25));
  @include animation(bounce 1s 1.2s 1 normal forwards);
}
header {
  padding:36px 0 31px; position:relative; width:320px;
  h1 { color:$badger-color; font-size:50px; line-height:1; padding:0; text-transform:none;
       color:rgba(69,68,63, 0.8); opacity:0;
       text-shadow:1px 4px 6px #c9c8bf, 0 0 0 #000, 1px 4px 6px #c9c8bf; 
       @include animation(fade-in 0.5s 0.5s 1 normal forwards);
  }
  h2 { color:#fff; font-size:51px; line-height:1; opacity:0; padding:0;
       text-shadow:rgba(6,4,6,0.25) -1px 1px, rgba(6,4,6,0.25) -2px 2px, rgba(6,4,6,0.25) -3px 3px;
       @include animation(fade-in 0.5s 0.9s 1 normal forwards);
  }
}
#logo:active {
  h1, h2 { position:relative; top:1px; }
}
.no-csstransitions {
  header h1, header h2 { opacity:1; }
  #ball { top:88px; }
}
/* Look at all these selectors!  Can we optimize this? */
nav { border-top:5px solid #fff; border-bottom:1px solid #fff; margin-top:17px;
  > ul {
    line-height:30px; margin:0; padding:0; position:relative;
    > li {
      float:left; line-height:30px; margin:0; padding:0; position:relative; text-transform:uppercase;
      > a {
        color:#6e6d67; display:block; font-size:18px; padding:0 19px 0 10px;
        &:active { position:relative; top:1px; }
        &.on { color:#fff; text-shadow:$text-shadow; }
      }
      &:hover ul { display:block; }
      & :last-child a { padding:0 10px 0 18px; }
    }
  }
  li ul {
    background:#5a839a url(../images/backgrounds/grid.png); display:none;
    padding:13px 10px; position:absolute; left:-10px; top:30px; width:220px; z-index:9999;
    @include box-shadow(-5px 5px 0px 0px rgba(6, 4, 6, 0.2));
    li { margin-bottom:2px; }
    a {
      color:#fff; font-size:14px; display:block;
      &:hover { background:rgba(255,255,255,0.25); color:#fff; }
    }
  }
}

#schedule-nav {
  ul { background-color:$schedule-color; left:0; }
  > a:hover { color:$schedule-color; }
}
#scores-nav{
  ul { background-color:$scores-color; }
  > a:hover { color:$scores-color; }
}
#teams-nav {
  ul { background-color:$teams-color; }
  > a:hover { color:$teams-color; }
}
#rules-nav {
  ul { background-color:$rules-color; }
  > a:hover { color:$rules-color; }
}

#sign-in {
  height:195px; position:absolute; right:0; top:0; width:340px;
  .ir {
    height:35px; position:absolute; top:10px; right:10px; width:35px; z-index:2000;
    &:hover { background-position:-125px 0; height:37px; right:8px; width:37px; }
    &:active { background-position:0 0; top:11px; }
  }
  .flag {
    color:#fff; font-size:18px; opacity:0; position:absolute; right:56px;
    text-transform:uppercase; top:-200px; text-shadow:$text-shadow;
    @include transition-property(opacity);
    &.on { opacity:1; top:18px; }
  }
  form { background-color:#994148; height:100%; padding:20px; position:absolute;
         right:0; top:-110%; width:100%; z-index:1900;
         @include box-shadow(-5px 5px 0px 0px rgba(6, 4, 6, 0.2));
         @include transition-time(.25s);
         @include transition-property(top);
    &.on { top:0; }
  }
  p { display:none; color:#7A343A; background:#A2A19A; margin:0 0 10px;
      padding:10px; width:260px; @include box-shadow(-2px 2px 1px 0px rgba(6, 4, 6, 0.25));
    &.on { display:block; }
  }
  &.error { @include transition(.15s); @include transition-property(height); }
}

#logged-in {
  position:absolute; right:0; top:0;
  p, form, button { display:inline-block; }
  p { margin-right:20px; text-transform:uppercase; }
  button { background:#FFF; color:#C9C8BF; opacity:.7;
           @include box-shadow(-2px 2px 1px 0px rgba(6, 4, 6, 0.25));
    &:hover { opacity:1; }
  }
}

footer {
  color:#9e9e93; height:60px; margin:-60px auto 0; padding:24px 0 0 550px; z-index:200;
  position:relative; text-align:right; width:940px;
  .ir, p { float:left; padding:0; }
  .bbox {
    background-position:-125px -40px; height:13px; margin:2px 0 0 8px; width:73px;
    &:hover { background-position:-125px -78px; }
  }
  .thomp {
    background-position:0px -40px; height:29px; margin:-5px 16px 0 8px; width:84px;
    &:hover { background-position:0 -78px; }
  }
}

/* MODULES */
.col-3.rankings {
  padding:30px 10px 10px;
  h3 { border-bottom:4px solid $gray; line-height:1; margin:0 0 10px;
       padding:0 0 10px 4px; text-transform:uppercase; }
  .highlight { color:$teams-color; }
  ul, li { background:none; margin:0; padding:0; }
  ul { height:390px; overflow-y:auto; }
  li { border-top:1px solid $gray; padding:14px 10px 14px 0; }
  li:first-child { border-top:0; padding-top:1px; }
  .right { float:left; width:122px; }
  a { text-transform:uppercase; }
}
.col-3.rankings.explanation p { font-size:16px; line-height:1.375; }

.col-3.players ul { height:310px; }

.col-2.week { background-color:#cac9bf; margin-top:21px; padding:0 8px 8px; width:140px;
  @include transition-property(#{"background-color, box-shadow"});
  h3 { background:#fff; height:39px; line-height:39px; margin:-21px 8px 10px;
       padding:0 0 0 10px; }
  ul, li { background:none; margin:0; padding:0; }
  .honey, .badger { background:$honey-color url(../images/backgrounds/divisions.png) 8px center no-repeat;
                    margin-bottom:10px; width:125px; }
  .badger { background-color:$badger-color; background-position:-42px center; }
  ul { float:right; width:97px; }
  &.on { background-color:#94aa54; @include box-shadow(-5px 5px 0px 0px rgba(6, 4, 6, 0.2)); }
}
.col-2.week li,
.col-2.schedule li a { background:#fff; color:$badger-color; display:block;
                       border-top:1px solid $honey-color; height:30px;
                       line-height:30px; padding:0 0 0 8px; }

.col-2.week ul li:first-child { border-top:0; }
/* the small schedule */
.col-2.schedule {
  background-color:$honey-color; padding:8px 8px 15px;
  h3 { color:#fff; font-size:18px; line-height:1.11; padding:8px 0 8px 4px;
       text-transform:uppercase; text-shadow:$text-shadow; }
  ul, li { margin:0; padding:0; }
  ul { margin-bottom:6px; }
  a.more { color:#fff; }
  a.past { color:$gray; }
  &.on { background-color:$badger-color; }
}

.col-6.scoreboard {
  background-color:#cac9c0; margin-bottom:20px; padding:30px 10px 10px; position:relative;
@include transition-property(#{"background-color, box-shadow"});
  h2 { border-bottom:4px solid #dad9d1; color:#fff; font-size:34px; line-height:1;
       margin-bottom:10px; padding:0 0 6px 4px; text-shadow:$text-shadow;
       text-transform:uppercase; }
  a.more { background:#fff; height:25px; line-height:25px; padding:0 9px;
           position:absolute; right:11px; top:32px; }
  a.more:active { top:33px; }
  .honey, .badger { background:$honey-color url(../images/backgrounds/divisions.png) 8px center no-repeat;
                    margin-bottom:10px; width:440px; }
  .badger { background-color:$badger-color; background-position:-42px center; }
  .charts { background:#fff; float:right; padding:19px 0 19px 10px; width:415px; }
  .pie { float:left; margin-right:24px; }
  
  &.on {
    background-color:$scores-color-highlight; @include box-shadow(-5px 5px 0px 0px rgba(6, 4, 6, 0.2));
    a.more { color:$scores-color-highlight; }
  }
  &.upcoming {
    background-color:$scores-color-highlight; height:354px;
    h3 { color:#fff; font-size:26px; line-height:1.46; padding:0 10px; }
  }
}

/* Mmmmmmmmm pie. */
.pie {
  position:relative;
  p { height:76px; margin:0; padding:0; position:absolute; top:0; left:0; width:76px; }
  ul { height:76px; margin:0; overflow:hidden; padding:0; width:76px; @include rotate(180deg); }
  li { background:none; }
  li span { display:block; height:76px; width:38px; }
}
.pie-left { @include pie-left-radius(38px); }
.pie-right { margin-left:38px; @include pie-right-radius(38px); }
.c1-l span, .c1-r span { background:#dad9d1; }
.c2-l span, .c2-r span { background:$badger-color; }
.pie  {
  ul :nth-child(1) p { @include rotate; }
  ul :nth-child(2) p { @include rotate; }
  ul :nth-child(3) p { @include rotate; }
  ul :nth-child(4) p { @include rotate; }
}
.crc { background:#fff; height:62px; line-height:0.9; padding:12px 0 0 0;
       position:absolute; left:7px; text-align:center; top:7px; width:62px;
       z-index:10; @include border-radius(50%); }
.crc .loser { color:#9e9d97; display:inline-block; text-align:center; }

.standings {
  background-color:#7a7a69; margin-bottom:20px; padding:30px 14px;
  h2 { border-bottom:4px solid #9e9e93; color:#fff; font-size:34px; line-height:1;
       margin-bottom:10px; padding:0 0 10px 4px;
       text-shadow:$text-shadow; text-transform:uppercase; }
  .left { float:left; width:315px; }
  .right { float:left; width:295px; }
  header { color:#fff; font-size:16px; padding:0; text-transform:uppercase; }
  span { display:block; float:left; height:26px; line-height:26px; }
  .rank { padding-left:10px; width:34px; }
  .team { width:43px; }
  .wins { width:23px; }
  .losses { margin-right:1px; width:23px; }
  ul, li { background:none; clear:both; margin:0; padding:0; }
  li { height:27px; }
  li span { background:#fff; color:$gray; }
  li .team { color:$badger-color; }
  .bar {
    background:$honey-color; color:#fff; float:left; height:26px;
    line-height:26px; text-indent:10px; width:0;
    @include transition-time(.5s);
    @include transition-property(width);
  }
  .badger .bar { background:$badger-color; }
}
/* the schedule */
.col-12.schedule {
  $col-width:85px;
  background-color:#94aa54; margin:20px 0 40px; padding:0 20px 20px;
  h1 { background:#fff; color:$badger-color; display:inline-block; font-size:36px;
       height:70px; line-height:70px; margin:-20px 0 20px 0; padding:0 18px;
       @include box-shadow(-5px 5px 0px 0px rgba(6, 4, 6, 0.2));
  }
  .copy { background:#fff; padding:20px 29px; }
  .honey, .badger { background:$honey-color url(../images/backgrounds/divisions.png) 8px center no-repeat;
                    margin-bottom:20px; padding:10px 0 10px 26px; }
  ul { float:left; margin:0 10px 0 0; padding:0; width:$col-width; }
  li { background:#fff; height:33px; line-height:33px; margin-bottom:1px; padding-left:10px; }
  ul.past li { background:#e1e1de; color:$gray; }
  .badger { background-color:$badger-color; background-position:-42px center; margin:0; }
  .header { float:none; margin-left:28px; width:856px; }
  .header li { float:left; margin-right:10px; width:$col-width; }
}
/* the big pages */
.rules h1, .scoreboard h1, .teams h1 { text-shadow:$text-shadow; }
/* the scoreboard */
.col-12.scoreboard {
  background-color:$scores-color-highlight; margin-bottom:40px; padding:20px 10px;
  h1 { line-height:1; padding:6px 20px 16px 20px; }
  .copy { background:#fff; padding:30px 20px; }
  .row { border-bottom:1px solid $light-gray; height:115px; padding-top:19px;
         overflow:hidden; width:410px; }
  .weeks {
    float:left; margin-right:20px; width:59px; 
    h3 { border-bottom:1px solid $light-gray; height:115px; padding:36px 0 0 9px; }
    span { background:$light-gray; color:#fff; display:block; height:40px;
           line-height:40px; text-align:center; width:40px;
           @include border-radius(40px);
    }
  }
  h2 { border-bottom:4px solid $light-gray; color:$light-gray; font-size:26px;
       line-height:1; padding:0 0 7px; text-transform:uppercase; }
  .honey {
    float:left; margin-right:20px; 
    h2 { border-color:$honey-color; color:$honey-color; }
  }
  .badger {
    float:left;
    h2 { border-color:$badger-color; color:$badger-color; }
  }
  .pie {
    float:left; margin-right:24px;
    p { height:74px; width:74px; }
    ul { height:74px; width:74px; }
    li span { height:74px; width:37px; }
  }
  .pie-left { @include pie-left-radius(37px); }
  .pie-right { margin-left:37px; @include pie-right-radius(37px); }
  .crc { height:60px; left:7px; top:7px; width:60px; }
}
/* teams */
.teams { background-color:#518391; margin-bottom:40px;
  .left { float:left; padding:0 0 20px 10px; width:220px; }
  h1 { border-bottom:4px solid $light-gray; margin:0 10px 11px 0; padding:24px 10px 6px 6px; }
  .nav, .nav li { background:none; margin:0; padding:0; }
  .nav li a { color:$badger-color; display:block; height:26px; line-height:26px;
              padding-left:14px; text-transform:uppercase; }
  .nav li a:hover { background:#7b9cae; }
  .nav li a:active { position:relative; top:1px; }
  .nav li a.on { background:#fff; }
  .copy { background:#fff; float:left; height:100%; padding:20px; width:760px; }
  .copy h2 { color:$badger-color; padding:0 0 30px 20px; }
  .copy h2 a { color:$badger-color; }
  .copy h2 a:hover { color:#195879; }
  .copy h4 { font-size:14px; padding:0; text-transform:uppercase; }
  .copy { font-size:16px; line-height:1.375; }
  .copy .info { font-size:18px; padding-bottom:20px; }
  .copy p { padding:0; }
  .col-4 { margin-left:20px; padding-right:20px; width:300px; }
  address { font-size:18px; font-style:normal; padding-bottom:16px; }
  .schedule { margin-right:0; }
}
/* rules */
.rules {
    background-color:$rules-color; margin-bottom:40px; padding:20px;
    h1 { font-size:48px; height:68px; line-height:68px; padding:0 0 0 18px; }
    .copy { background:#fff; line-height:1.33; padding:39px 39px 60px; font-size:21px; }
    .copy strong { font-size:34px; margin-right:8px; }
    .copy p { padding:0 0 30px; }
 }

@mixin flipper($pre, $deg:0deg) {
-#{$pre}-transform:rotateY($deg);
-#{$pre}-transform-style:preserve-3d;
-#{$pre}-backface-visibility:hidden;
}
/* the promotional dots */
.dots {
  a, .ir { background-position:0 -125px; height:79px; width:79px; }
  .ir.back { background-position:-125px -125px; }
  .score-dot .ir { background-position:0 -225px; }
  .score-dot .ir.back { background-position:-125px -225px; }
  .merch-dot .ir { background-position:0 -325px; }
  .merch-dot .ir.back { background-position:-125px -325px; }
  a {
    display:block; margin-bottom:20px; position:relative;
    .front {
      left:0; position:absolute; top:0; z-index:900;
      @include flipper(mox);
      @include flipper(webkit);
      @include transition(.4s, ease-in-out);
    }
    .back {
      left:0; position:absolute; top:0; z-index:800;
      @include flipper(mox, -180deg);
      @include flipper(webkit, -180deg);
      @include transition(.4s, ease-in-out);
    }
    &:hover {
      .front { z-index:900;
        -moz-transform:rotateY(180deg);
        -webkit-transform:rotateY(180deg);
      }
      .back { z-index:1000;
        -moz-transform:rotateY(0deg);
        -webkit-transform:rotateY(0deg);
      }
    }
  }
}
/* team player tokens */
.team-token {
  background:#fff; display:block; float:left; height:50px; margin-right:5px;
  position:relative; width:50px; @include border-radius(50%);

  img { left:0; margin:3px; position:absolute; top:0; @include border-radius(50%); }
  .front { z-index:900;
    -moz-backface-visibility:hidden;
    -moz-transform:rotate3d(45,45,0,0deg);
    -webkit-backface-visibility:hidden;
    -webkit-transform-style:preserve-3d;
    -webkit-transform:rotate3d(45,45,0,0deg);
    @include transition(.4s, ease-in-out);
  }
  .back { z-index:800;
    -moz-backface-visibility:hidden;
    -moz-transform:rotate3d(45,45,0,-180deg);
    -webkit-backface-visibility:hidden;
    -webkit-transform-style:preserve-3d;
    -webkit-transform:rotate3d(45,45,0,-180deg);
    @include transition(.4s, ease-in-out);
  }
  &:hover {
    .front { z-index:900;
      -moz-transform:rotate3d(45,45,0,180deg);
      -webkit-transform:rotate3d(45,45,0,180deg);
    }
    .back { z-index:1000;
      -moz-transform:rotate3d(45,45,0,0deg);
      -webkit-transform:rotate3d(45,45,0,0deg);
    }
  }
}

#paddle-dots { background:url(../images/backgrounds/dotted.png) no-repeat center bottom;
               height:100%; position:absolute; width:100%; top:0; }
.paddle {
  background:transparent url(../images/backgrounds/paddle.png) no-repeat;
  clear:both; height:249px; padding:47px 0 0 110px;  margin:38px 0 0 120px;
  position:relative; width:500px;
  h3 { color:#fff; font-size:24px; line-height:1.25; }
}

/* HOME */
.home {
  .rankings { float:right; }
  .dots { margin-left:-10px; }
  .week { float:right; margin-bottom:40px; }
}
.intro { color:#fff; font-size:24px; line-height:1.25; padding:0 0 40px; text-shadow:$text-shadow; }

.teams-page .dots, .scoreboard-page .dots, .schedule-page .dots { margin-right:30px; }
.teams-page .paddle { padding-left:90px; }

.teams-page.member .copy {
  h3 { padding:0; }
  h4 { padding-bottom:20px; }
  p { padding-bottom:20px; }
}

/* Edit Profile */
#email-form, #profile-form {
  border: 4px dotted $teams-color; float: left; padding: 20px;
  button { float: right; }
}
#email-form {
  margin-left: 50px;
  .errorlist { display: inline-block; margin: 0; padding: 0; width: 260px; }
  .errorlist li {
    background: none; display: inline-block; margin: 0; padding: 0;
  }
  .error label { color: rgba(255, 0, 0, .7); }
}
#profile-form {
  p { clear: both; }
  textarea { height:200px; width: 570px; }
  input[type='checkbox'], label[for='profile-avatar-clear_id'] {
    display: inline-block;
  }
  label[for='profile-avatar-clear_id'] {
    color:#5E5D57; font-family: 'PassionRegular', sans-serif;
    padding-left: 10px; text-shadow: none; text-transform: none;
  }
  .preview {
    margin: 0 20px 20px 0; max-height: 110px; max-width: 110px; float: left;
  }
  #id_profile-twitter, #id_profile-facebook, #id_profile-linked_in,
  #id_profile-website {
    border: 1px solid gray; border-left: none; display: inline-block;
    font-size: 16px; width: 387px;
  }
  label[for='id_profile-twitter'], label[for='id_profile-facebook'],
  label[for='id_profile-linked_in'], label[for='id_profile-website'] {
    background: rgba(255, 255, 255, .6); border: 1px solid gray;
    border-right: 1px solid #bbb; border-radius: 4px 0 0 4px;
    color: rgba(0, 0, 0, .5); display: inline-block;
    font-family: 'PassionRegular', sans-serif; font-size: 16px; height: 35px;
    line-height: 33px; margin-right: 0; padding: 0 5px 0 10px;
    position: relative; right: -3px; text-align: right; text-shadow: none;
    text-transform: none; width: 180px;
  }
  label[for='id_profile-website'] {
    color: rgba(0, 0, 255, .8);
    font-family: 'Comic Sans MS', cursive, sans-serif; font-size: 13px;
    font-weight: bold;
  }
  .errorlist { margin: 0; padding: 0; }
  .errorlist li { background: none; text-align: right; }
  .error { padding-top: 0; }
  .error label { background: rgba(255, 0, 0, .6); }
}

@mixin transition {
     -o-transition:opacity 0.15s linear 0s;
   -moz-transition:opacity 0.15s linear 0s;
-webkit-transition:opacity 0.15s linear 0s;
        transition:opacity 0.15s linear 0s;
}
.twipsy {
  $pad:5px;
  $brder:$pad solid transparent;
  $brder2:$pad solid #000;
  display:block; font-size:14px; position:absolute; visibility:visible; padding:$pad; z-index:1000;
  &.above .twipsy-arrow { bottom:0; left:50%; margin-left:-$pad; border-left:$brder; border-right:$brder; border-top:$brder2; }
  &.left .twipsy-arrow { top:50%; right:0; margin-top:-$pad; border-top:$brder; border-bottom:$brder; border-left:$brder2; }
  &.below .twipsy-arrow { top:0; left:50%; margin-left:-$pad; border-left:$brder; border-right:$brder; border-bottom:$brder2; }
  &.right .twipsy-arrow { top:50%; left:0; margin-top:-$pad; border-top:$brder; border-bottom:$brder; border-right:$brder2; }
}
.twipsy-inner { background-color:#000; color:#fff; text-align:center; max-width:200px; padding:3px 8px; text-decoration:none; @include border-radius; }
.twipsy-arrow {position:absolute; width:0; height:0; }
.fade { opacity:0; @include transition; }
.fade.in { opacity:0.8; }

#teams-scroller {
  position:relative; width:210px;
  .viewport { height:378px; overflow:hidden; position:relative; width:210px; }
  .overview { list-style:none; position:absolute; left:0; top:0; width:100%; }
  .thumb .end,
  .thumb { background-color:$light-gray; border-bottom:1px solid rgba(208, 207, 204, 0.2);
           border-left:1px solid rgba(208, 207, 204, 0.2); }
  .thumb:hover { background-color:$gray; }
  .scrollbar { opacity:0; position:absolute; right:-20px; width:10px; @include transition; }
  .scrollbar.on { opacity:1; }
  .track { background-color:$gray; height:100%; width:1px; position:relative; padding:0 1px; }
  .thumb { cursor:pointer; height:20px; margin-left:-4px; overflow:hidden;
           position:absolute; top:0; width:8px; }
  .thumb .end { display:none; height:5px; overflow:hidden; width:13px; } 
}
.tyte * {
  text-shadow: -1px -1px hsl(0,100%,50%), 1px 1px hsl(5.4, 100%, 50%), 3px 2px hsl(10.8, 100%, 50%), 5px 3px hsl(16.2, 100%, 50%), 7px 4px hsl(21.6, 100%, 50%), 9px 5px hsl(27, 100%, 50%), 11px 6px hsl(32.4, 100%, 50%), 13px 7px hsl(37.8, 100%, 50%), 14px 8px hsl(43.2, 100%, 50%), 16px 9px hsl(48.6, 100%, 50%), 18px 10px hsl(54, 100%, 50%), 20px 11px hsl(59.4, 100%, 50%), 22px 12px hsl(64.8, 100%, 50%), 23px 13px hsl(70.2, 100%, 50%), 25px 14px hsl(75.6, 100%, 50%), 27px 15px hsl(81, 100%, 50%), 28px 16px hsl(86.4, 100%, 50%), 30px 17px hsl(91.8, 100%, 50%), 32px 18px hsl(97.2, 100%, 50%), 33px 19px hsl(102.6, 100%, 50%), 35px 20px hsl(108, 100%, 50%), 36px 21px hsl(113.4, 100%, 50%), 38px 22px hsl(118.8, 100%, 50%), 39px 23px hsl(124.2, 100%, 50%), 41px 24px hsl(129.6, 100%, 50%), 42px 25px hsl(135, 100%, 50%), 43px 26px hsl(140.4, 100%, 50%), 45px 27px hsl(145.8, 100%, 50%), 46px 28px hsl(151.2, 100%, 50%), 47px 29px hsl(156.6, 100%, 50%), 48px 30px hsl(162, 100%, 50%), 49px 31px hsl(167.4, 100%, 50%), 50px 32px hsl(172.8, 100%, 50%), 51px 33px hsl(178.2, 100%, 50%), 52px 34px hsl(183.6, 100%, 50%), 53px 35px hsl(189, 100%, 50%), 54px 36px hsl(194.4, 100%, 50%), 55px 37px hsl(199.8, 100%, 50%), 55px 38px hsl(205.2, 100%, 50%), 56px 39px hsl(210.6, 100%, 50%), 57px 40px hsl(216, 100%, 50%), 57px 41px hsl(221.4, 100%, 50%), 58px 42px hsl(226.8, 100%, 50%), 58px 43px hsl(232.2, 100%, 50%), 58px 44px hsl(237.6, 100%, 50%), 59px 45px hsl(243, 100%, 50%), 59px 46px hsl(248.4, 100%, 50%), 59px 47px hsl(253.8, 100%, 50%), 59px 48px hsl(259.2, 100%, 50%), 59px 49px hsl(264.6, 100%, 50%), 60px 50px hsl(270, 100%, 50%), 59px 51px hsl(275.4, 100%, 50%), 59px 52px hsl(280.8, 100%, 50%), 59px 53px hsl(286.2, 100%, 50%), 59px 54px hsl(291.6, 100%, 50%), 59px 55px hsl(297, 100%, 50%), 58px 56px hsl(302.4, 100%, 50%), 58px 57px hsl(307.8, 100%, 50%), 58px 58px hsl(313.2, 100%, 50%), 57px 59px hsl(318.6, 100%, 50%), 57px 60px hsl(324, 100%, 50%), 56px 61px hsl(329.4, 100%, 50%), 55px 62px hsl(334.8, 100%, 50%), 55px 63px hsl(340.2, 100%, 50%), 54px 64px hsl(345.6, 100%, 50%), 53px 65px hsl(351, 100%, 50%), 52px 66px hsl(356.4, 100%, 50%), 51px 67px hsl(361.8, 100%, 50%), 50px 68px hsl(367.2, 100%, 50%), 49px 69px hsl(372.6, 100%, 50%), 48px 70px hsl(378, 100%, 50%), 47px 71px hsl(383.4, 100%, 50%), 46px 72px hsl(388.8, 100%, 50%), 45px 73px hsl(394.2, 100%, 50%), 43px 74px hsl(399.6, 100%, 50%), 42px 75px hsl(405, 100%, 50%), 41px 76px hsl(410.4, 100%, 50%), 39px 77px hsl(415.8, 100%, 50%), 38px 78px hsl(421.2, 100%, 50%), 36px 79px hsl(426.6, 100%, 50%), 35px 80px hsl(432, 100%, 50%), 33px 81px hsl(437.4, 100%, 50%), 32px 82px hsl(442.8, 100%, 50%), 30px 83px hsl(448.2, 100%, 50%), 28px 84px hsl(453.6, 100%, 50%), 27px 85px hsl(459, 100%, 50%), 25px 86px hsl(464.4, 100%, 50%), 23px 87px hsl(469.8, 100%, 50%), 22px 88px hsl(475.2, 100%, 50%), 20px 89px hsl(480.6, 100%, 50%), 18px 90px hsl(486, 100%, 50%), 16px 91px hsl(491.4, 100%, 50%), 14px 92px hsl(496.8, 100%, 50%), 13px 93px hsl(502.2, 100%, 50%), 11px 94px hsl(507.6, 100%, 50%), 9px 95px hsl(513, 100%, 50%), 7px 96px hsl(518.4, 100%, 50%), 5px 97px hsl(523.8, 100%, 50%), 3px 98px hsl(529.2, 100%, 50%), 1px 99px hsl(534.6, 100%, 50%), 7px 100px hsl(540, 100%, 50%), -1px 101px hsl(545.4, 100%, 50%), -3px 102px hsl(550.8, 100%, 50%), -5px 103px hsl(556.2, 100%, 50%), -7px 104px hsl(561.6, 100%, 50%), -9px 105px hsl(567, 100%, 50%), -11px 106px hsl(572.4, 100%, 50%), -13px 107px hsl(577.8, 100%, 50%), -14px 108px hsl(583.2, 100%, 50%), -16px 109px hsl(588.6, 100%, 50%), -18px 110px hsl(594, 100%, 50%), -20px 111px hsl(599.4, 100%, 50%), -22px 112px hsl(604.8, 100%, 50%), -23px 113px hsl(610.2, 100%, 50%), -25px 114px hsl(615.6, 100%, 50%), -27px 115px hsl(621, 100%, 50%), -28px 116px hsl(626.4, 100%, 50%), -30px 117px hsl(631.8, 100%, 50%), -32px 118px hsl(637.2, 100%, 50%), -33px 119px hsl(642.6, 100%, 50%), -35px 120px hsl(648, 100%, 50%), -36px 121px hsl(653.4, 100%, 50%), -38px 122px hsl(658.8, 100%, 50%), -39px 123px hsl(664.2, 100%, 50%), -41px 124px hsl(669.6, 100%, 50%), -42px 125px hsl(675, 100%, 50%), -43px 126px hsl(680.4, 100%, 50%), -45px 127px hsl(685.8, 100%, 50%), -46px 128px hsl(691.2, 100%, 50%), -47px 129px hsl(696.6, 100%, 50%), -48px 130px hsl(702, 100%, 50%), -49px 131px hsl(707.4, 100%, 50%), -50px 132px hsl(712.8, 100%, 50%), -51px 133px hsl(718.2, 100%, 50%), -52px 134px hsl(723.6, 100%, 50%), -53px 135px hsl(729, 100%, 50%), -54px 136px hsl(734.4, 100%, 50%), -55px 137px hsl(739.8, 100%, 50%), -55px 138px hsl(745.2, 100%, 50%), -56px 139px hsl(750.6, 100%, 50%), -57px 140px hsl(756, 100%, 50%), -57px 141px hsl(761.4, 100%, 50%), -58px 142px hsl(766.8, 100%, 50%), -58px 143px hsl(772.2, 100%, 50%), -58px 144px hsl(777.6, 100%, 50%), -59px 145px hsl(783, 100%, 50%), -59px 146px hsl(788.4, 100%, 50%), -59px 147px hsl(793.8, 100%, 50%), -59px 148px hsl(799.2, 100%, 50%), -59px 149px hsl(804.6, 100%, 50%), -60px 150px hsl(810, 100%, 50%), -59px 151px hsl(815.4, 100%, 50%), -59px 152px hsl(820.8, 100%, 50%), -59px 153px hsl(826.2, 100%, 50%), -59px 154px hsl(831.6, 100%, 50%), -59px 155px hsl(837, 100%, 50%), -58px 156px hsl(842.4, 100%, 50%), -58px 157px hsl(847.8, 100%, 50%), -58px 158px hsl(853.2, 100%, 50%), -57px 159px hsl(858.6, 100%, 50%), -57px 160px hsl(864, 100%, 50%), -56px 161px hsl(869.4, 100%, 50%), -55px 162px hsl(874.8, 100%, 50%), -55px 163px hsl(880.2, 100%, 50%), -54px 164px hsl(885.6, 100%, 50%), -53px 165px hsl(891, 100%, 50%), -52px 166px hsl(896.4, 100%, 50%), -51px 167px hsl(901.8, 100%, 50%), -50px 168px hsl(907.2, 100%, 50%), -49px 169px hsl(912.6, 100%, 50%), -48px 170px hsl(918, 100%, 50%), -47px 171px hsl(923.4, 100%, 50%), -46px 172px hsl(928.8, 100%, 50%), -45px 173px hsl(934.2, 100%, 50%), -43px 174px hsl(939.6, 100%, 50%), -42px 175px hsl(945, 100%, 50%), -41px 176px hsl(950.4, 100%, 50%), -39px 177px hsl(955.8, 100%, 50%), -38px 178px hsl(961.2, 100%, 50%), -36px 179px hsl(966.6, 100%, 50%), -35px 180px hsl(972, 100%, 50%), -33px 181px hsl(977.4, 100%, 50%), -32px 182px hsl(982.8, 100%, 50%), -30px 183px hsl(988.2, 100%, 50%), -28px 184px hsl(993.6, 100%, 50%), -27px 185px hsl(999, 100%, 50%), -25px 186px hsl(1004.4, 100%, 50%), -23px 187px hsl(1009.8, 100%, 50%), -22px 188px hsl(1015.2, 100%, 50%), -20px 189px hsl(1020.6, 100%, 50%), -18px 190px hsl(1026, 100%, 50%), -16px 191px hsl(1031.4, 100%, 50%), -14px 192px hsl(1036.8, 100%, 50%), -13px 193px hsl(1042.2, 100%, 50%), -11px 194px hsl(1047.6, 100%, 50%), -9px 195px hsl(1053, 100%, 50%), -7px 196px hsl(1058.4, 100%, 50%), -5px 197px hsl(1063.8, 100%, 50%), -3px 198px hsl(1069.2, 100%, 50%), -1px 199px hsl(1074.6, 100%, 50%), -1px 200px hsl(1080, 100%, 50%), 1px 201px hsl(1085.4, 100%, 50%), 3px 202px hsl(1090.8, 100%, 50%), 5px 203px hsl(1096.2, 100%, 50%), 7px 204px hsl(1101.6, 100%, 50%), 9px 205px hsl(1107, 100%, 50%), 11px 206px hsl(1112.4, 100%, 50%), 13px 207px hsl(1117.8, 100%, 50%), 14px 208px hsl(1123.2, 100%, 50%), 16px 209px hsl(1128.6, 100%, 50%), 18px 210px hsl(1134, 100%, 50%), 20px 211px hsl(1139.4, 100%, 50%), 22px 212px hsl(1144.8, 100%, 50%), 23px 213px hsl(1150.2, 100%, 50%), 25px 214px hsl(1155.6, 100%, 50%), 27px 215px hsl(1161, 100%, 50%), 28px 216px hsl(1166.4, 100%, 50%), 30px 217px hsl(1171.8, 100%, 50%), 32px 218px hsl(1177.2, 100%, 50%), 33px 219px hsl(1182.6, 100%, 50%), 35px 220px hsl(1188, 100%, 50%), 36px 221px hsl(1193.4, 100%, 50%), 38px 222px hsl(1198.8, 100%, 50%), 39px 223px hsl(1204.2, 100%, 50%), 41px 224px hsl(1209.6, 100%, 50%), 42px 225px hsl(1215, 100%, 50%), 43px 226px hsl(1220.4, 100%, 50%), 45px 227px hsl(1225.8, 100%, 50%), 46px 228px hsl(1231.2, 100%, 50%), 47px 229px hsl(1236.6, 100%, 50%), 48px 230px hsl(1242, 100%, 50%), 49px 231px hsl(1247.4, 100%, 50%), 50px 232px hsl(1252.8, 100%, 50%), 51px 233px hsl(1258.2, 100%, 50%), 52px 234px hsl(1263.6, 100%, 50%), 53px 235px hsl(1269, 100%, 50%), 54px 236px hsl(1274.4, 100%, 50%), 55px 237px hsl(1279.8, 100%, 50%), 55px 238px hsl(1285.2, 100%, 50%), 56px 239px hsl(1290.6, 100%, 50%), 57px 240px hsl(1296, 100%, 50%), 57px 241px hsl(1301.4, 100%, 50%), 58px 242px hsl(1306.8, 100%, 50%), 58px 243px hsl(1312.2, 100%, 50%), 58px 244px hsl(1317.6, 100%, 50%), 59px 245px hsl(1323, 100%, 50%), 59px 246px hsl(1328.4, 100%, 50%), 59px 247px hsl(1333.8, 100%, 50%), 59px 248px hsl(1339.2, 100%, 50%), 59px 249px hsl(1344.6, 100%, 50%), 60px 250px hsl(1350, 100%, 50%), 59px 251px hsl(1355.4, 100%, 50%), 59px 252px hsl(1360.8, 100%, 50%), 59px 253px hsl(1366.2, 100%, 50%), 59px 254px hsl(1371.6, 100%, 50%), 59px 255px hsl(1377, 100%, 50%), 58px 256px hsl(1382.4, 100%, 50%), 58px 257px hsl(1387.8, 100%, 50%), 58px 258px hsl(1393.2, 100%, 50%), 57px 259px hsl(1398.6, 100%, 50%), 57px 260px hsl(1404, 100%, 50%), 56px 261px hsl(1409.4, 100%, 50%), 55px 262px hsl(1414.8, 100%, 50%), 55px 263px hsl(1420.2, 100%, 50%), 54px 264px hsl(1425.6, 100%, 50%), 53px 265px hsl(1431, 100%, 50%), 52px 266px hsl(1436.4, 100%, 50%), 51px 267px hsl(1441.8, 100%, 50%), 50px 268px hsl(1447.2, 100%, 50%), 49px 269px hsl(1452.6, 100%, 50%), 48px 270px hsl(1458, 100%, 50%), 47px 271px hsl(1463.4, 100%, 50%), 46px 272px hsl(1468.8, 100%, 50%), 45px 273px hsl(1474.2, 100%, 50%), 43px 274px hsl(1479.6, 100%, 50%), 42px 275px hsl(1485, 100%, 50%), 41px 276px hsl(1490.4, 100%, 50%), 39px 277px hsl(1495.8, 100%, 50%), 38px 278px hsl(1501.2, 100%, 50%), 36px 279px hsl(1506.6, 100%, 50%), 35px 280px hsl(1512, 100%, 50%), 33px 281px hsl(1517.4, 100%, 50%), 32px 282px hsl(1522.8, 100%, 50%), 30px 283px hsl(1528.2, 100%, 50%), 28px 284px hsl(1533.6, 100%, 50%), 27px 285px hsl(1539, 100%, 50%), 25px 286px hsl(1544.4, 100%, 50%), 23px 287px hsl(1549.8, 100%, 50%), 22px 288px hsl(1555.2, 100%, 50%), 20px 289px hsl(1560.6, 100%, 50%), 18px 290px hsl(1566, 100%, 50%), 16px 291px hsl(1571.4, 100%, 50%), 14px 292px hsl(1576.8, 100%, 50%), 13px 293px hsl(1582.2, 100%, 50%), 11px 294px hsl(1587.6, 100%, 50%), 9px 295px hsl(1593, 100%, 50%), 7px 296px hsl(1598.4, 100%, 50%), 5px 297px hsl(1603.8, 100%, 50%), 3px 298px hsl(1609.2, 100%, 50%), 1px 299px hsl(1614.6, 100%, 50%), 2px 300px hsl(1620, 100%, 50%), -1px 301px hsl(1625.4, 100%, 50%), -3px 302px hsl(1630.8, 100%, 50%), -5px 303px hsl(1636.2, 100%, 50%), -7px 304px hsl(1641.6, 100%, 50%), -9px 305px hsl(1647, 100%, 50%), -11px 306px hsl(1652.4, 100%, 50%), -13px 307px hsl(1657.8, 100%, 50%), -14px 308px hsl(1663.2, 100%, 50%), -16px 309px hsl(1668.6, 100%, 50%), -18px 310px hsl(1674, 100%, 50%), -20px 311px hsl(1679.4, 100%, 50%), -22px 312px hsl(1684.8, 100%, 50%), -23px 313px hsl(1690.2, 100%, 50%), -25px 314px hsl(1695.6, 100%, 50%), -27px 315px hsl(1701, 100%, 50%), -28px 316px hsl(1706.4, 100%, 50%), -30px 317px hsl(1711.8, 100%, 50%), -32px 318px hsl(1717.2, 100%, 50%), -33px 319px hsl(1722.6, 100%, 50%), -35px 320px hsl(1728, 100%, 50%), -36px 321px hsl(1733.4, 100%, 50%), -38px 322px hsl(1738.8, 100%, 50%), -39px 323px hsl(1744.2, 100%, 50%), -41px 324px hsl(1749.6, 100%, 50%), -42px 325px hsl(1755, 100%, 50%), -43px 326px hsl(1760.4, 100%, 50%), -45px 327px hsl(1765.8, 100%, 50%), -46px 328px hsl(1771.2, 100%, 50%), -47px 329px hsl(1776.6, 100%, 50%), -48px 330px hsl(1782, 100%, 50%), -49px 331px hsl(1787.4, 100%, 50%), -50px 332px hsl(1792.8, 100%, 50%), -51px 333px hsl(1798.2, 100%, 50%), -52px 334px hsl(1803.6, 100%, 50%), -53px 335px hsl(1809, 100%, 50%), -54px 336px hsl(1814.4, 100%, 50%), -55px 337px hsl(1819.8, 100%, 50%), -55px 338px hsl(1825.2, 100%, 50%), -56px 339px hsl(1830.6, 100%, 50%), -57px 340px hsl(1836, 100%, 50%), -57px 341px hsl(1841.4, 100%, 50%), -58px 342px hsl(1846.8, 100%, 50%), -58px 343px hsl(1852.2, 100%, 50%), -58px 344px hsl(1857.6, 100%, 50%), -59px 345px hsl(1863, 100%, 50%), -59px 346px hsl(1868.4, 100%, 50%), -59px 347px hsl(1873.8, 100%, 50%), -59px 348px hsl(1879.2, 100%, 50%), -59px 349px hsl(1884.6, 100%, 50%), -60px 350px hsl(1890, 100%, 50%), -59px 351px hsl(1895.4, 100%, 50%), -59px 352px hsl(1900.8, 100%, 50%), -59px 353px hsl(1906.2, 100%, 50%), -59px 354px hsl(1911.6, 100%, 50%), -59px 355px hsl(1917, 100%, 50%), -58px 356px hsl(1922.4, 100%, 50%), -58px 357px hsl(1927.8, 100%, 50%), -58px 358px hsl(1933.2, 100%, 50%), -57px 359px hsl(1938.6, 100%, 50%), -57px 360px hsl(1944, 100%, 50%), -56px 361px hsl(1949.4, 100%, 50%), -55px 362px hsl(1954.8, 100%, 50%), -55px 363px hsl(1960.2, 100%, 50%), -54px 364px hsl(1965.6, 100%, 50%), -53px 365px hsl(1971, 100%, 50%), -52px 366px hsl(1976.4, 100%, 50%), -51px 367px hsl(1981.8, 100%, 50%), -50px 368px hsl(1987.2, 100%, 50%), -49px 369px hsl(1992.6, 100%, 50%), -48px 370px hsl(1998, 100%, 50%), -47px 371px hsl(2003.4, 100%, 50%), -46px 372px hsl(2008.8, 100%, 50%), -45px 373px hsl(2014.2, 100%, 50%), -43px 374px hsl(2019.6, 100%, 50%), -42px 375px hsl(2025, 100%, 50%), -41px 376px hsl(2030.4, 100%, 50%), -39px 377px hsl(2035.8, 100%, 50%), -38px 378px hsl(2041.2, 100%, 50%), -36px 379px hsl(2046.6, 100%, 50%), -35px 380px hsl(2052, 100%, 50%), -33px 381px hsl(2057.4, 100%, 50%), -32px 382px hsl(2062.8, 100%, 50%), -30px 383px hsl(2068.2, 100%, 50%), -28px 384px hsl(2073.6, 100%, 50%), -27px 385px hsl(2079, 100%, 50%), -25px 386px hsl(2084.4, 100%, 50%), -23px 387px hsl(2089.8, 100%, 50%), -22px 388px hsl(2095.2, 100%, 50%), -20px 389px hsl(2100.6, 100%, 50%), -18px 390px hsl(2106, 100%, 50%), -16px 391px hsl(2111.4, 100%, 50%), -14px 392px hsl(2116.8, 100%, 50%), -13px 393px hsl(2122.2, 100%, 50%), -11px 394px hsl(2127.6, 100%, 50%), -9px 395px hsl(2133, 100%, 50%), -7px 396px hsl(2138.4, 100%, 50%), -5px 397px hsl(2143.8, 100%, 50%), -3px 398px hsl(2149.2, 100%, 50%), -1px 399px hsl(2154.6, 100%, 50%);
}

@media (max-width:480px) { }
@media (max-width:768px) { }
@media (min-width:768px) and (max-width:980px) { }
@media (max-width:980px) { }
@media (min-width:980px) { }
@media (min-width:1200px) { }

@media print {
  * { background:transparent !important; color:black !important; box-shadow:none !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; } 
  a, a:visited { text-decoration:underline; }
  a[href]:after { content:" (" attr(href) ")"; }
  abbr[title]:after { content:" (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
  pre, blockquote { border:1px solid #999; page-break-inside:avoid; }
  thead { display:table-header-group; } 
  tr, img { page-break-inside:avoid; }
  img { max-width:100% !important; }
  @page { margin:0.5cm; }
  p, h2, h3 { orphans:3; widows:3; }
  h2, h3 { page-break-after:avoid; }
}
