
<div class="col-3 grid rankings players">
  <h3>Players</h3>
  <ul>
    {% for profile in players %}
    <li class="clearfix">
      <a href="{{ profile.get_absolute_url }}" class="team-token" title="{{ profile.full_name }}">
        <img src="{{ profile.pixelate_avatar.url }}" alt="{{ profile.full_name }}" class="front" height="46" width="46" />
        <img src="{{ profile.thumbnail_avatar.url }}" alt="{{ profile.full_name }}" class="back" height="46" width="46" />
      </a>
      <div class="right">
        {{ profile.rating }}<br/>
        {{ profile.full_name }}<br/>
        <a href="{{ profile.team.get_absolute_url }}">{{ profile.team.name }} ({{ profile.team.abbr }})</a>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
