
<div class="col-3 grid rankings players">
  <h3>Players</h3>
  <ul>
    <li class="clearfix">
      <a href="#" class="team-token" title="John Doe">
        <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" class="front" height="46" width="46" />
        <img src="{{ STATIC_URL }}images/temp2.jpg" alt="John Doe" class="back" height="46" width="46" />
      </a>
      <div class="right">
        2299<br/>
        Rachel Schartzenhaller<br/>
        <a href="#">The Barbarian Group (TBG)</a>
      </div>
    </li>
    <li class="clearfix">
      <a href="#" class="team-token" title="John Doe">
        <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" class="front" height="46" width="46" />
        <img src="{{ STATIC_URL }}images/temp2.jpg" alt="John Doe" class="back" height="46" width="46" />
      </a>
      <div class="right">
        2299<br/>
        Rachel Schartzenhaller<br/>
        <a href="#">The Barbarian Group (TBG)</a>
      </div>
    </li>
  </ul>
</div>
