<div class="col-3 grid rankings explanation{{ class }}">
  <h3><span class="highlight">ELO</span> Rankings</h3>
  <ul>
    <li class="clearfix">
      <p>COPY TBD We will be using Elo ratings system to calculate player rankings.</p>
      <p>Each player has a rating, which is a number. A higher number indicates a better player, based on their results against other rated players. The winner of a contest between two players gains a certain number of points in his rating and the losing player loses the same amount. The number of points won or lost in a contest depends on the difference in the ratings of the players. </p>
      <p>COPY TBD We will be using Elo ratings system to calculate player rankings.</p>
      <p>Each player has a rating, which is a number. A higher number indicates a better player, based on their results against other rated players. The winner of a contest between two players gains a certain number of points in his rating and the losing player loses the same amount. The number of points won or lost in a contest depends on the difference in the ratings of the players. </p>
      <p>COPY TBD We will be using Elo ratings system to calculate player rankings.</p>
      <p>Each player has a rating, which is a number. A higher number indicates a better player, based on their results against other rated players. The winner of a contest between two players gains a certain number of points in his rating and the losing player loses the same amount. The number of points won or lost in a contest depends on the difference in the ratings of the players. </p>
    </li>
  </ul>
</div>
