<div class="col-2 grid schedule">
  <h3>Schedule &amp; Scores</h3>
  <ul>
    <li><a href="#">BBX 4 RGA 2</a></li>
    <li><a href="#" class="badger">RGA 3 LBi 1</a></li>
    <li><a href="#">UC @ TBG</a></li>
    <li><a href="#">BS @ HGE</a></li>
    <li><a href="#" class="badger">UC @ TBG</a></li>
    <li><a href="#">BBX @ RGA</a></li>
    <li><a href="#">RGA @ LBi</a></li>
    <li><a href="#">UC @ TBG</a></li>
    <li><a href="#">BS @ HGE</a></li>
    <li><a href="#">UC @ TBG</a></li>
  </ul>
  <a href="/schedule" class="more">Full schedule &raquo;</a>
  <a href="/scoreboard" class="more">Scoreboard &raquo;</a>
</div>
