<div class="col-6 grid scoreboard{{ class }}">
  <h2>Scoreboard</h2>
  <a href="/scoreboard" class="more">See all scores &raquo;</a>
  <div class="honey clearfix">
      <div class="charts">
          {% for match in FIRST_DIVISION_MATCHES %}
            {% include "theleague/scoreboard_pie.html" with match=match %}
          {% endfor %}
      </div>
  </div>
  <div class="badger clearfix">
      <div class="charts">
          {% for match in SECOND_DIVISION_MATCHES %}
            {% include "theleague/scoreboard_pie.html" with match=match %}
          {% endfor %}
      </div>
  </div>
</div>
