<div class="col-6 grid scoreboard">
  <h2>Scoreboard</h2>
  <a href="/scoreboard" class="more">See all scores &raquo;</a>
  <div class="honey clearfix">
      <div class="charts">
          <div class="pie">
            <ul>
            <li><p class="c1-r"><span class="pie-left"></span></p></li>
            <li><p class="c1-l"><span class="pie-right"></span></p></li>
            <li><p class="c2-r"><span class="pie-left"></span></p></li>
            <li><p class="c2-l"><span class="pie-right"></span></p></li>
            </ul>
            <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
          </div>
          <div class="pie">
            <ul>
            <li><p class="c1-r"><span class="pie-left"></span></p></li>
            <li><p class="c1-l"><span class="pie-right"></span></p></li>
            <li><p class="c2-r"><span class="pie-left"></span></p></li>
            <li><p class="c2-l"><span class="pie-right"></span></p></li>
            </ul>
            <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
          </div>
          <div class="pie">
            <ul>
            <li><p class="c1-r"><span class="pie-left"></span></p></li>
            <li><p class="c1-l"><span class="pie-right"></span></p></li>
            <li><p class="c2-r"><span class="pie-left"></span></p></li>
            <li><p class="c2-l"><span class="pie-right"></span></p></li>
            </ul>
            <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
          </div>
          <div class="pie">
            <ul>
            <li><p class="c1-r"><span class="pie-left"></span></p></li>
            <li><p class="c1-l"><span class="pie-right"></span></p></li>
            <li><p class="c2-r"><span class="pie-left"></span></p></li>
            <li><p class="c2-l"><span class="pie-right"></span></p></li>
            </ul>
            <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
          </div>
          <div class="pie">
            <ul>
            <li><p class="c1-r"><span class="pie-left"></span></p></li>
            <li><p class="c1-l"><span class="pie-right"></span></p></li>
            <li><p class="c2-r"><span class="pie-left"></span></p></li>
            <li><p class="c2-l"><span class="pie-right"></span></p></li>
            </ul>
            <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
          </div>
      </div>
  </div>
  <div class="badger clearfix">
      <div class="charts">
          <div class="pie">
            <ul>
            <li><p class="c1-r"><span class="pie-left"></span></p></li>
            <li><p class="c1-l"><span class="pie-right"></span></p></li>
            <li><p class="c2-r"><span class="pie-left"></span></p></li>
            <li><p class="c2-l"><span class="pie-right"></span></p></li>
            </ul>
            <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
          </div>
          <div class="pie">
            <ul>
            <li><p class="c1-r"><span class="pie-left"></span></p></li>
            <li><p class="c1-l"><span class="pie-right"></span></p></li>
            <li><p class="c2-r"><span class="pie-left"></span></p></li>
            <li><p class="c2-l"><span class="pie-right"></span></p></li>
            </ul>
            <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
          </div>
          <div class="pie">
            <ul>
            <li><p class="c1-r"><span class="pie-left"></span></p></li>
            <li><p class="c1-l"><span class="pie-right"></span></p></li>
            <li><p class="c2-r"><span class="pie-left"></span></p></li>
            <li><p class="c2-l"><span class="pie-right"></span></p></li>
            </ul>
            <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
          </div>
          <div class="pie">
            <ul>
            <li><p class="c1-r"><span class="pie-left"></span></p></li>
            <li><p class="c1-l"><span class="pie-right"></span></p></li>
            <li><p class="c2-r"><span class="pie-left"></span></p></li>
            <li><p class="c2-l"><span class="pie-right"></span></p></li>
            </ul>
            <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
          </div>
          <div class="pie">
            <ul>
            <li><p class="c1-r"><span class="pie-left"></span></p></li>
            <li><p class="c1-l"><span class="pie-right"></span></p></li>
            <li><p class="c2-r"><span class="pie-left"></span></p></li>
            <li><p class="c2-l"><span class="pie-right"></span></p></li>
            </ul>
            <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
          </div>
      </div>
  </div>
</div>
