<div class="col-8 grid standings {{ class }}">
  <h2>Standings</h2>
  <div class="left">
      <header>
          <span class="rank">#</span>
          <span class="team">Team</span>
          <span class="wins">W</span>
          <span class="losses">L</span>
      </header>
       <ul>
          <li>
              <span class="rank">1</span>
              <span class="team">BBX</span>
              <span class="wins">6</span>
              <span class="losses">0</span>
              <div class="bar" data-percent="100">100%</div>
          </li>
          <li>
              <span class="rank">2</span>
              <span class="team">BBX</span>
              <span class="wins">6</span>
              <span class="losses">0</span>
              <div class="bar" data-percent="80">80%</div>
          </li>
          <li>
              <span class="rank">3</span>
              <span class="team">BBX</span>
              <span class="wins">6</span>
              <span class="losses">0</span>
              <div class="bar" data-percent="50">40%</div>
          </li>
          <li>
              <span class="rank">4</span>
              <span class="team">BBX</span>
              <span class="wins">6</span>
              <span class="losses">0</span>
              <div class="bar" data-percent="20">20%</div>
          </li>
          <li>
              <span class="rank">5</span>
              <span class="team">BBX</span>
              <span class="wins">6</span>
              <span class="losses">0</span>
              <div class="bar" data-percent="0">0%</div>
          </li>
       </ul>
  </div>
  <div class="right">
      <header>
          <span class="rank">#</span>
          <span class="team">Team</span>
          <span class="wins">W</span>
          <span class="losses">L</span>
      </header>
       <ul class="badger">
          <li>
              <span class="rank">1</span>
              <span class="team">BBX</span>
              <span class="wins">6</span>
              <span class="losses">0</span>
              <div class="bar" data-percent="100">100%</div>
          </li>
          <li>
              <span class="rank">2</span>
              <span class="team">BBX</span>
              <span class="wins">6</span>
              <span class="losses">0</span>
              <div class="bar" data-percent="80">80%</div>
          </li>
          <li>
              <span class="rank">3</span>
              <span class="team">BBX</span>
              <span class="wins">6</span>
              <span class="losses">0</span>
              <div class="bar" data-percent="50">40%</div>
          </li>
          <li>
              <span class="rank">4</span>
              <span class="team">BBX</span>
              <span class="wins">6</span>
              <span class="losses">0</span>
              <div class="bar" data-percent="20">20%</div>
          </li>
          <li>
              <span class="rank">5</span>
              <span class="team">BBX</span>
              <span class="wins">6</span>
              <span class="losses">0</span>
              <div class="bar" data-percent="0">0%</div>
          </li>
       </ul>
  </div>
</div>
