{% if STANDINGS %}
<div class="col-8 grid standings {{ class }}">
  <h2>Standings</h2>
  {% for division in STANDINGS %}
    {% if forloop.first %}
      <div class="left">
    {% else %}
         </ul>
      </div>
      <div class="right">
    {% endif %}
      <header>
          <span class="rank">#</span>
          <span class="team">Team</span>
          <span class="wins">W</span>
          <span class="losses">L</span>
      </header>
      <ul class="{{ division.division|lower }}">
        {% for standing in division.standings %}
          <li>
              <span class="rank">{{ forloop.counter }}</span>
              <span class="team">{{ standing.team.abbr }}</span>
              <span class="wins">{{ standing.wins }}</span>
              <span class="losses">{{ standing.losses }}</span>
              <div class="bar" data-percent="{{ standing.percent }}">{{ standing.percent }}%</div>
          </li>
        {% endfor %}
      {% endfor %}
     </ul>
  </div>
</div>
{% endif %}
