
<div class="col-2 grid week">
  <h3>Week 3</h3>
  <div class="honey clearfix">
    <ul>
      <li><a href="#">BBX @ RGA</a></li>
      <li><a href="#">RGA @ LBi</a></li>
      <li><a href="#">UC @ TBG</a></li>
      <li><a href="#">BS @ HGE</a></li>
      <li><a href="#">UC @ TBG</a></li>
    </ul>
  </div>
  <div class="badger clearfix">
    <ul>
      <li><a href="#">BBX @ RGA</a></li>
      <li><a href="#">RGA @ LBi</a></li>
      <li><a href="#">UC @ TBG</a></li>
      <li><a href="#">BS @ HGE</a></li>
      <li><a href="#">UC @ TBG</a></li>
    </ul>
  </div>
  <a href="#" class="more">Full schedule &raquo;</a>
</div>
