<div class="col-1 dots{{ class }}">
  <a href="/rules" class="rule-dot" title="Rules">
    <span class="front ir">Rules</span>
    <span class="back ir">Rules</span>
  </a>
  <a href="#" class="score-dot" title="Score it live">
    <span class="front ir">Score it live</span>
    <span class="back ir">Score it live</span>
  </a>
  <a href="http://thompsonpunke.com/shop.html" class="merch-dot" title="Merch">
    <span class="front ir">Merch</span>
    <span class="back ir">Merch</span>
  </a>
</div>
