{% load compress %}<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}PiXEL PONG</title>
    <meta name="description" content="" />
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width" />
    <!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    <script src="{{ STATIC_URL }}javascripts/libs/modernizr.min.js"></script>
    {% compress css %}
    <link type="text/x-scss" href="{{ STATIC_URL }}stylesheets/all.css.scss" rel="stylesheet" />
    {% block stylesheets %}{% endblock stylesheets %}
    {% endcompress %}
</head>
<body{% block body_class %}{% endblock %}>
    {% if messages %}{% include "messages.html" %}{% endif %}
    <div id="container" class="cols clearfix">
        <header>
          <div id="ball"></div>
          <a href="/" id="logo">
            <h1>PiXEL</h1>
            <h2>PONG</h2>
          </a>
          <nav>
            <ul class="clearfix">
              <li id="schedule-nav"><a href="/schedule"{% active request '/schedule' %} title="Schedule">Schedule</a></li>
              <li id="scores-nav"><a href="/scoreboard"{% active request '/scoreboard' %} title="Scores">Scores</a></li>
              <li id="teams-nav"><a href="/teams"{% active request '/teams' %} title="Teams">Teams</a>
                  <ul>
                  {% for team in TEAMS %}
                    <li><a href="{{ team.get_absolute_url }}">{{ team.name }}</a></li>
                  {% endfor %}
                  </ul>
              </li>
              <li id="rules-nav"><a href="/rules"{% active request '/rules' %} title="Rules">Rules</a></li>
            </ul>
          </nav>
        </header>
        {% if request.user.is_authenticated %}
        <div id="logged-in">
          <p>Hey {{ request.user.profile.full_name }}! <a href="{% url accounts:change_password %}">Change password?</a></p>
          <form action="{% url accounts:logout %}" method="post">
            {% csrf_token %}
            <button type="submit">Sign Out</button>
          </form>
        </div>
        {% else %}
        <div id="sign-in">
          <a href="#" class="ir">Sign in</a>
          <span class="flag">Pros only</span>
          <form action="{% url accounts:authenticate %}" class="grid" method="post">
            <label for="Email">Your Serve.</label>
            <input id="email" type="email" name="email" placeholder="Email" required="required" />
            <input id="password" type="password" name="password" placeholder="Password" required="required" />
            {% csrf_token %}
            <p class="error">{# For error messages #}</p>
            <button type="submit">Enter</button>
          </form>
        </div>
        {% endif %}
        {% block content %}{% endblock content %}
    </div><!-- /container -->
    <footer>
      <p>Sponsored by</p>
      <a href="http://thompsonpunke.com" class="ir thomp" title="Thompson Punke">Thompson Punke</a>
      <p>Built and designed by</p>
      <a href="http://www.blenderbox.com" class="ir bbox" title="Blenderbox">Blenderbox</a>
    </footer>
    {% block paddle %}<div id="paddle-dots"></div>{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="javascripts/libs/jquery-1.7.1.min.js"><\/script>')</script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
{% compress js %}
<script>var STATIC_URL='{{ STATIC_URL }}';</script>
<script src="{{ STATIC_URL }}javascripts/app/application.js"></script>
{% block javascripts %}{% endblock javascripts %}
{% endcompress %}
{% if not request.user.is_authenticated %}
{% verbatim %}
<script id="logged-in-template" type="text/html">
<div id="logged-in">
  <p>Hey ${name}! <a href="{% url accounts:change_password %}">Change password?</a></p>
  <form action="{% url accounts:logout %}" method="post">
    {% csrf_token %}
    <button type="submit">Sign Out</button>
  </form>
</div>
</script>
{% endverbatim %}
{% endif %}
<!--[if lt IE 9 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
