{% load compress %}<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}PiXEL PONG</title>
    <meta name="description" content="" />
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width" />
    <!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    <script src="{{ STATIC_URL }}javascripts/libs/modernizr.min.js"></script>
    {% compress css %}
    <link href="{{ STATIC_URL }}stylesheets/all.css.scss" rel="stylesheet" />
    {% block stylesheets %}{% endblock stylesheets %}
    {% endcompress %}
</head>
<body>
    {% if messages %}{% include "messages.html" %}{% endif %}
    <div id="container" class="cols clearfix">
        <header>
          <a href="/" id="logo">
          <h1>PiXEL</h1>
          <h2>PONG</h2>
          </a>
          <nav>
            <ul class="clearfix">
              <li id="schedule-nav"><a href="#" class="on" title="Schedule">Schedule</a>
                  <ul>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                  </ul>
              </li>
              <li id="scores-nav"><a href="#" title="Scores">Scores</a>
                  <ul>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                  </ul>
              </li>
              <li id="teams-nav"><a href="#" title="Teams">Teams</a>
                  <ul>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                    <li><a href="#">Blenderbox</a></li>
                  </ul>
              </li>
              <li id="rules-nav"><a href="/rules" title="Rules">Rules</a></li>
            </ul>
          </nav>
          <div id="sign-in">
            <a href="#" class="ir">Sign in</a>
            <span class="flag">Pros only</span>
            <form class="grid">
              <label for="username">Your Serve.</label>
              <input id="username" type="email" placeholder="Username" required="required" />
              <input id="password" type="password" placeholder ="Password" required="required" />
              <button type="submit">Enter</button>
            </form>
          </div>
        </header>
        <section class="col-12 grid schedule">
          <h1>2012 Schedule</h1>
          <div class="copy">
              <ul class="header clearfix">
                  <li>Week 1</li>
                  <li>Week 2</li>
                  <li>Week 3</li>
                  <li>Week 4</li>
                  <li>Week 5</li>
                  <li>Week 6</li>
                  <li>Week 7</li>
                  <li>Week 8</li>
              </ul>
              <div class="honey clearfix">
                  <ul class="past">
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul class="past">
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul>
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul>
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul>
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul>
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul>
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul>
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
              </div>
              <div class="badger clearfix">
                  <ul class="past">
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul class="past">
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul>
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul>
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul>
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul>
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul>
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
                  <ul>
                      <li>BBX 4 RGA 0</li>
                      <li>RGA 3  LBi 1</li>
                      <li>UC 2  TBG 2</li>
                      <li>BS 4 HGE 0</li>
                  </ul>
              </div>
          </div>
        </section>
        <section class="col-12 grid scoreboard">
          <h1>Scoreboard</h1>
          <div class="copy">
          <strong>Week</strong>
          <strong>Honey</strong>
          <strong>Badger</strong>
          <div class="row">
              <ul>
                <li>
                1
                </li>
              </ul>
              <ul>
                <li>
                  <div class="pie">
                    <ul>
                        <li><p class="c1-r"><span class="pie-left"></span></p></li>
                        <li><p class="c1-l"><span class="pie-right"></span></p></li>
                        <li><p class="c2-r"><span class="pie-left"></span></p></li>
                        <li><p class="c2-l"><span class="pie-right"></span></p></li>
                    </ul>
                    <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
                  </div>
                </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
          </div>
          </div>
        </section>
        <section class="col-12 grid teams">
          <div class="left">
            <h1>Teams</h1>
            <ul class="nav">
              <li><a href="#">Blenderbox (BBX)</a></li>
              <li><a href="#">Blenderbox (BBX)</a></li>
              <li><a href="#">Blenderbox (BBX)</a></li>
              <li><a href="#" class="on">Blenderbox (BBX)</a></li>
              <li><a href="#">Blenderbox (BBX)</a></li>
              <li><a href="#">Blenderbox (BBX)</a></li>
              <li><a href="#">Blenderbox (BBX)</a></li>
              <li><a href="#">Blenderbox (BBX)</a></li>
              <li><a href="#">Blenderbox (BBX)</a></li>
              <li><a href="#">Blenderbox (BBX)</a></li>
              <li><a href="#">Blenderbox (BBX)</a></li>
              <li><a href="#">Blenderbox (BBX)</a></li>
              <li><a href="#">Blenderbox (BBX)</a></li>
              <li><a href="#">Blenderbox (BBX)</a></li>
            </ul>
          </div>
          <div class="copy clearfix">
              <h2>Blenderbox (BBX)</h2>
              <div class="col-4">
                  <h4>address: </h4>
                  <address>
                      <a href="#">26 Dobbins Street, 3rd Floor. <br/>
                      Brooklyn, NY 11222. Directions »</a>
                  </address>
                  <h4>contact:</h4>
                  <p class="info">
                      Damon Jablons<br/>
                      <a href="mailto:djablons@blenderbox.com">djablons@blenderbox.com</a>
                  </p>
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  </p>
              </div>
              <div class="col-3 grid rankings players">
                <h3>Players</h3>
                <ul>
                  <li class="clearfix">
                    <div class="img-wrap">
                      <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" height="46" width="46" />
                    </div>
                    <div class="right">
                      2299<br/>
                      Rachel Schartzenhaller<br/>
                      <a href="#">The Barbarian Group (TBG)</a>
                    </div>
                  </li>
                  <li class="clearfix">
                    <div class="img-wrap">
                      <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" height="46" width="46" />
                    </div>
                    <div class="right">
                      2299<br/>
                      Rachel Schartzenhaller<br/>
                      <a href="#">The Barbarian Group (TBG)</a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-2 grid omega schedule">
                <h3>Schedule &amp; Scores</h3>
                <ul>
                  <li><a href="#">BBX 4 RGA 2</a></li>
                  <li><a href="#" class="badger">RGA 3 LBi 1</a></li>
                  <li><a href="#">UC @ TBG</a></li>
                  <li><a href="#">BS @ HGE</a></li>
                  <li><a href="#" class="badger">UC @ TBG</a></li>
                  <li><a href="#">BBX @ RGA</a></li>
                  <li><a href="#">RGA @ LBi</a></li>
                  <li><a href="#">UC @ TBG</a></li>
                  <li><a href="#">BS @ HGE</a></li>
                </ul>
                <a href="#" class="more">Full schedule &raquo;</a>
                <a href="#" class="more">Scoreboard &raquo;</a>
              </div>
          
          </div>
        </section>
        {% block content %}{% endblock content %}
        <div class="col-8 grid standings omega">
          <h2>Standings</h2>
          <div class="left">
              <header>
                  <span class="rank">#</span>
                  <span class="team">Team</span>
                  <span class="wins">W</span>
                  <span class="losses">L</span>
              </header>
               <ul>
                  <li>
                      <span class="rank">1</span>
                      <span class="team">BBX</span>
                      <span class="wins">6</span>
                      <span class="losses">0</span>
                      <div class="bar" data-percent="100">100%</div>
                  </li>
                  <li>
                      <span class="rank">2</span>
                      <span class="team">BBX</span>
                      <span class="wins">6</span>
                      <span class="losses">0</span>
                      <div class="bar" data-percent="80">80%</div>
                  </li>
                  <li>
                      <span class="rank">3</span>
                      <span class="team">BBX</span>
                      <span class="wins">6</span>
                      <span class="losses">0</span>
                      <div class="bar" data-percent="50">40%</div>
                  </li>
                  <li>
                      <span class="rank">4</span>
                      <span class="team">BBX</span>
                      <span class="wins">6</span>
                      <span class="losses">0</span>
                      <div class="bar" data-percent="20">20%</div>
                  </li>
                  <li>
                      <span class="rank">5</span>
                      <span class="team">BBX</span>
                      <span class="wins">6</span>
                      <span class="losses">0</span>
                      <div class="bar" data-percent="0">0%</div>
                  </li>
               </ul>
          </div>
          <div class="right">
              <header>
                  <span class="rank">#</span>
                  <span class="team">Team</span>
                  <span class="wins">W</span>
                  <span class="losses">L</span>
              </header>
               <ul class="badger">
                  <li>
                      <span class="rank">1</span>
                      <span class="team">BBX</span>
                      <span class="wins">6</span>
                      <span class="losses">0</span>
                      <div class="bar" data-percent="100">100%</div>
                  </li>
                  <li>
                      <span class="rank">2</span>
                      <span class="team">BBX</span>
                      <span class="wins">6</span>
                      <span class="losses">0</span>
                      <div class="bar" data-percent="80">80%</div>
                  </li>
                  <li>
                      <span class="rank">3</span>
                      <span class="team">BBX</span>
                      <span class="wins">6</span>
                      <span class="losses">0</span>
                      <div class="bar" data-percent="50">40%</div>
                  </li>
                  <li>
                      <span class="rank">4</span>
                      <span class="team">BBX</span>
                      <span class="wins">6</span>
                      <span class="losses">0</span>
                      <div class="bar" data-percent="20">20%</div>
                  </li>
                  <li>
                      <span class="rank">5</span>
                      <span class="team">BBX</span>
                      <span class="wins">6</span>
                      <span class="losses">0</span>
                      <div class="bar" data-percent="0">0%</div>
                  </li>
               </ul>
          </div>
        </div>
        
        <div class="col-6 grid scoreboard">
          <h2>Scoreboard</h2>
          <a href="#" class="more">See all scores &raquo;</a>
          <h4 class="ir division">Honey</h4>
          <ul>
            <li>
              <div class="pie">
                <ul>
                <li><p class="c1-r"><span class="pie-left"></span></p></li>
                <li><p class="c1-l"><span class="pie-right"></span></p></li>
                <li><p class="c2-r"><span class="pie-left"></span></p></li>
                <li><p class="c2-l"><span class="pie-right"></span></p></li>
                </ul>
                <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
              </div>
            </li>
            <li>
              <div class="pie">
                <ul>
                <li><p class="c1-r"><span class="pie-left"></span></p></li>
                <li><p class="c1-l"><span class="pie-right"></span></p></li>
                <li><p class="c2-r"><span class="pie-left"></span></p></li>
                <li><p class="c2-l"><span class="pie-right"></span></p></li>
                </ul>
                <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
              </div></li>
            <li>
              <div class="pie">
                <ul>
                <li><p class="c1-r"><span class="pie-left"></span></p></li>
                <li><p class="c1-l"><span class="pie-right"></span></p></li>
                <li><p class="c2-r"><span class="pie-left"></span></p></li>
                <li><p class="c2-l"><span class="pie-right"></span></p></li>
                </ul>
                <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
              </div></li>
            <li>
              <div class="pie">
                <ul>
                <li><p class="c1-r"><span class="pie-left"></span></p></li>
                <li><p class="c1-l"><span class="pie-right"></span></p></li>
                <li><p class="c2-r"><span class="pie-left"></span></p></li>
                <li><p class="c2-l"><span class="pie-right"></span></p></li>
                </ul>
                <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
              </div></li>
            <li>
              <div class="pie">
                <ul>
                <li><p class="c1-r"><span class="pie-left"></span></p></li>
                <li><p class="c1-l"><span class="pie-right"></span></p></li>
                <li><p class="c2-r"><span class="pie-left"></span></p></li>
                <li><p class="c2-l"><span class="pie-right"></span></p></li>
                </ul>
                <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
              </div></li>
          </ul>
          <div class="clear"></div>
          <h4 class="ir division badger">Badger</h4>
          <ul>
            <li>
              <div class="pie">
                <ul>
                <li><p class="c1-r"><span class="pie-left"></span></p></li>
                <li><p class="c1-l"><span class="pie-right"></span></p></li>
                <li><p class="c2-r"><span class="pie-left"></span></p></li>
                <li><p class="c2-l"><span class="pie-right"></span></p></li>
                </ul>
                <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
              </div>
            </li>
            <li>
              <div class="pie">
                <ul>
                <li><p class="c1-r"><span class="pie-left"></span></p></li>
                <li><p class="c1-l"><span class="pie-right"></span></p></li>
                <li><p class="c2-r"><span class="pie-left"></span></p></li>
                <li><p class="c2-l"><span class="pie-right"></span></p></li>
                </ul>
                <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
              </div></li>
            <li>
              <div class="pie">
                <ul>
                <li><p class="c1-r"><span class="pie-left"></span></p></li>
                <li><p class="c1-l"><span class="pie-right"></span></p></li>
                <li><p class="c2-r"><span class="pie-left"></span></p></li>
                <li><p class="c2-l"><span class="pie-right"></span></p></li>
                </ul>
                <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
              </div></li>
            <li>
              <div class="pie">
                <ul>
                <li><p class="c1-r"><span class="pie-left"></span></p></li>
                <li><p class="c1-l"><span class="pie-right"></span></p></li>
                <li><p class="c2-r"><span class="pie-left"></span></p></li>
                <li><p class="c2-l"><span class="pie-right"></span></p></li>
                </ul>
                <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
              </div></li>
            <li>
              <div class="pie">
                <ul>
                <li><p class="c1-r"><span class="pie-left"></span></p></li>
                <li><p class="c1-l"><span class="pie-right"></span></p></li>
                <li><p class="c2-r"><span class="pie-left"></span></p></li>
                <li><p class="c2-l"><span class="pie-right"></span></p></li>
                </ul>
                <div class="crc">BBX 4<br/> <span class="loser">def<br/> UCO</span></div>
              </div></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="col-3 grid rankings">
          <h3><span class="highlight">ELO</span> Rankings</h3>
          <ul>
            <li class="clearfix">
              <div class="img-wrap">
                <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" height="46" width="46" />
              </div>
              <div class="right">
                2299<br/>
                Rachel Schartzenhaller<br/>
                <a href="#">The Barbarian Group (TBG)</a>
              </div>
            </li>
            <li class="clearfix">
              <div class="img-wrap">
                <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" height="46" width="46" />
              </div>
              <div class="right">
                2299<br/>
                Rachel Schartzenhaller<br/>
                <a href="#">The Barbarian Group (TBG)</a>
              </div>
            </li>
            <li class="clearfix">
              <div class="img-wrap">
                <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" height="46" width="46" />
              </div>
              <div class="right">
                2299<br/>
                Rachel Schartzenhaller<br/>
                <a href="#">The Barbarian Group (TBG)</a>
              </div>
            </li>
            <li class="clearfix">
              <div class="img-wrap">
                <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" height="46" width="46" />
              </div>
              <div class="right">
                2299<br/>
                Rachel Schartzenhaller<br/>
                <a href="#">The Barbarian Group (TBG)</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-3 grid rankings players">
          <h3>Players</h3>
          <ul>
            <li class="clearfix">
              <div class="img-wrap">
                <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" height="46" width="46" />
              </div>
              <div class="right">
                2299<br/>
                Rachel Schartzenhaller<br/>
                <a href="#">The Barbarian Group (TBG)</a>
              </div>
            </li>
            <li class="clearfix">
              <div class="img-wrap">
                <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" height="46" width="46" />
              </div>
              <div class="right">
                2299<br/>
                Rachel Schartzenhaller<br/>
                <a href="#">The Barbarian Group (TBG)</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-2 grid week">
          <h3>Week 3</h3>
          <h4 class="ir division">Honey</h4>
          <ul class="clearfix">
            <li><a href="#">BBX @ RGA</a></li>
            <li><a href="#">RGA @ LBi</a></li>
            <li><a href="#">UC @ TBG</a></li>
            <li><a href="#">BS @ HGE</a></li>
            <li><a href="#">UC @ TBG</a></li>
          </ul>
          <div class="clear"></div>
          <h4 class="ir division badger">Badger</h4>
          <ul>
            <li><a href="#">BBX @ RGA</a></li>
            <li><a href="#">RGA @ LBi</a></li>
            <li><a href="#">UC @ TBG</a></li>
            <li><a href="#">BS @ HGE</a></li>
            <li><a href="#">UC @ TBG</a></li>
          </ul>
          <div class="clear"></div>
          <a href="#" class="more">Full schedule &raquo;</a>
        </div>
        <div class="col-2 grid schedule">
          <h3>Schedule &amp; Scores</h3>
          <ul>
            <li><a href="#">BBX 4 RGA 2</a></li>
            <li><a href="#" class="badger">RGA 3 LBi 1</a></li>
            <li><a href="#">UC @ TBG</a></li>
            <li><a href="#">BS @ HGE</a></li>
            <li><a href="#" class="badger">UC @ TBG</a></li>
            <li><a href="#">BBX @ RGA</a></li>
            <li><a href="#">RGA @ LBi</a></li>
            <li><a href="#">UC @ TBG</a></li>
            <li><a href="#">BS @ HGE</a></li>
            <li><a href="#">UC @ TBG</a></li>
          </ul>
          <a href="#" class="more">Full schedule &raquo;</a>
          <a href="#" class="more">Scoreboard &raquo;</a>
        </div>
        
    </div><!-- /container -->
    <footer>
        Sponsored by <a href="http://thompsonpunke.com" class="ir thomp" title="Thompson Punke">Thompson Punke</a>
        
        Built and designed by <a href="http://www.blenderbox.com" class="ir bbox" title="Blenderbox">Blenderbox</a>
    </footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="javascripts/libs/jquery-1.7.1.min.js"><\/script>')</script>
<!-- scripts -->
{% compress js %}
<script>var STATIC_URL='{{ STATIC_URL }}';</script>
<script src="{{ STATIC_URL }}javascripts/app/application.js"></script>
{% block javascripts %}{% endblock javascripts %}
{% endcompress %}
<!--[if lt IE 9 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
