<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="description" content="" />
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width" />
    <!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    <!-- place these files in the root dir
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="apple-touch-icon.png" rel="apple-touch-icon" /> -->
    <script src="{{ STATIC_URL }}javascripts/libs/modernizr.min.js"></script>
    {% block stylesheets %}<link href="{{ STATIC_URL }}stylesheets/all.css" rel="stylesheet" />{% endblock stylesheets %}
</head>
<body>
    {% if messages %}{% include "messages.html" %}{% endif %}
    <div id="container">
        <header>
          <h1>PiXEL</h1>
          <h2>PONG<h2>
        </header>
        {% block content %}{% endblock content %}
        <footer>
            Sponsored by
            
            Built and designed by <a href="http://www.blenderbox.com" title="Blenderbox">Blenderbox</a>
        </footer>
    </div><!-- /container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>!window.jQuery && document.write('<script src="javascripts/libs/jquery-1.7.1.min.js"><\/script>')</script>
<!-- scripts -->
<script src="{{ STATIC_URL }}javascripts/app/application.js"></script>
{% block javascripts %}{% endblock javascripts %}
<!--[if lt IE 9 ]>
<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->
<script>
  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>
