{% extends "base_with_standing.html" %}

{% block title %}Schedule | {% endblock %}

{% block body_class %} class="schedule-page"{% endblock %}

{% block content %}
{% for season in current_seasons %}
  <section class="col-12 grid schedule">
    <h1>{{ season.name }}</h1>
    <div class="copy">
      <ul class="header clearfix">
        {% for round in season.round_set.all %}
          <li>{{ round.name }}</li>
        {% endfor %}
      </ul>
      {% for division in divisions %}
      <div class="{{ division.name|lower }} clearfix">
          {% for round in season.round_set.all %}
          <ul{% if round.in_past %} class="past"{% endif %}{% if round.current %} class="current"{% endif %}>
            {% for match in round.match_set.all %}
            {% if match.division == division %}
            <li>{{ match }}</li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endfor %}
{{ block.super }}
{% endblock content %}

{% block paddle_quote %}
The game originated as a sport in Britain during the 1880s, where it was played among the upper-class as an after-dinner parlour game, then commonly known as "wiff-waff". 
Source: Wikipedia
{% endblock %}
