{% extends "base_with_standing.html" %}

{% block title %}Scoreboard | {% endblock %}

{% block body_class %} class="scoreboard-page"{% endblock %}

{% block content %}{% spaceless %}
<section class="col-12 grid scoreboard">
  <h1>Scoreboard</h1>
  <div class="copy clearfix">
      {% if rounds.count > 0 %}
      <div class="weeks">
        <h2>Week</h2>
        {% for round in rounds %}
        <h3><span>{{ round.short_name }}</span></h3>
        {% endfor %}
      </div>
      <div class="honey">
          <h2>Honey</h2>
          {% for round in first_division_rounds %}
          <div class="row">
            {% for match in round %}
            {% include "theleague/scoreboard_pie.html" with match=match %}
            {% endfor %}
          </div>
          {% endfor %}
      </div>
      <div class="badger">
        <h2>Badger</h2>
        {% for round in second_division_rounds %}
          <div class="row">
            {% for match in round %}
            {% include "theleague/scoreboard_pie.html" with match=match %}
            {% endfor %}
          </div>
          {% endfor %}
      </div>
      {% else %}
      <h3>Looks like we haven't finished any rounds yet.<br/>
      You know the deal.  Hurry up and complete the first round.</h3>
      {% endif %}
  </div>
</section>{% endspaceless %}
{{ block.super }}
{% endblock content %}

{% block paddle_quote %}Calculation of Magnus force<br/>
\vec{F_M} = S (\vec{\omega}\times\vec{v})<br/>
Source: Wikipedia{% endblock %}
