{% extends "theleague/teams.html" %}

{% block title %}{{ profile.full_name }} on {{ team.name }} - Teams | {% endblock %}

{% block copy %}
  <div class="clearfix">
    <span class="team-token">
      <img src="{{ profile.thumbnail_avatar.url }}" alt="{{ profile.full_name }}" height="46" width="46" />
    </span>
    <h3>{{ profile.full_name }}</h3>
    <h4>{{ profile.rating }}</h4>
  </div>
  
  {% if profile.bio %}{{ profile.bio }}{% endif %}
  <p>
    {% if profile.website %}u: {% external_link profile.website %}<br/>{% endif %}
    {% if profile.twitter %}t: {% external_link profile.twitter_url %}<br/>{% endif %}
    {% if profile.facebook %}f: {% external_link profile.facebook_url %}<br/>{% endif %}
    {% if profile.linked_in %}li: {% external_link profile.linked_in_url %}<br/>{% endif %}
  </p>
{% endblock copy %}

