{% extends "base_with_standing.html" %}

{% load compress %}

{% block title %}Teams | {% endblock %}

{% block body_class %} class="teams-page"{% endblock %}

{% block content %}
<section class="col-12 grid teams">
  <div class="left">
    <h1>Teams</h1>
    <div id="teams-scroller">
      <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
      <div class="viewport">
	      <div class="overview">
        <ul class="nav">
          {% for t in teams %}
          <li><a href="{{ t.get_absolute_url }}"{% if t.id == team.id %} class="on"{% endif %}>{{ t.name_and_abbr }}</a></li>
          {% endfor %}
        </ul>                       
        </div>
      </div>
    </div>
  </div>
  <div class="copy clearfix">
      {% spaceless %}
      <h2>
      {% if team.website %}
          {% external_link team.website team.name_and_abbr %}
      {% else %}
          {{ team.name_and_abbr }}
      {% endif %}
      {% if request.user.is_staff %} <span class="edit-link"> | <a href="{% url admin:theleague_team_change team.pk %}">EDIT</a></span>{% endif %}
      </h2>
      {% endspaceless %}
      <div class="col-4">
      {% block copy %}
          {% if team.address or team.city or team.state or team.zip_code %}
          <h4>address: </h4>
          <address>
              <a href="http://maps.google.com/maps?q={{ team.address }}+{{ team.city }}+{{ team.state }}+{{ team.zip_code }}&hl=en&hnear={{ team.address }}+{{ team.city }}+{{ team.state }}+{{ team.zip_code }}">
              {% if team.address %}{{ team.address }}. <br/>{% endif %}
              {{ team.city }}{% if team.state and team.city %}, {% endif %}{{ team.state }} {{ team.zip_code }}. Directions »</a>
          </address>
          {% endif %}
          {% if team.contact_name or team.contact_email %}
          <h4>contact:</h4>
          <p class="info">
              {% if team.contact_name %}{{ team.contact_name }}<br/>{% endif %}
              {% if team.contact_email %}{% email_link team.contact_email %}{% endif %}
          </p>
          {% endif %}
          {% if team.description %}
          <p>
          {{ team.description }}
          </p>
          {% endif %}
      {% endblock copy %}
      &nbsp;
      </div>
      {% include "theleague/widgets/players.html" with players=team.profile_team.all %}
      {% include "theleague/widgets/schedule.html" with schedule=schedule %}
  </div>
</section>
{{ block.super }}
{% endblock %}

{% block paddle_quote %}ROBO-PONG<br/>What every agency needs to stay competitive{% endblock %}
