{% extends "base.html" %}

{% block content %}
<section class="col-12 grid teams">
  <div class="left">
    <h1>Teams</h1>
    <ul class="nav">
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#" class="on">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
    </ul>
  </div>
  <div class="copy clearfix">
      <h2>Blenderbox (BBX)</h2>
      <div class="col-4">
          <h4>address: </h4>
          <address>
              <a href="#">26 Dobbins Street, 3rd Floor. <br/>
              Brooklyn, NY 11222. Directions »</a>
          </address>
          <h4>contact:</h4>
          <p class="info">
              Damon Jablons<br/>
              <a href="mailto:djablons@blenderbox.com">djablons@blenderbox.com</a>
          </p>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
      </div>
      <div class="col-3 grid rankings players">
        <h3>Players</h3>
        <ul>
          <li class="clearfix">
            <a href="#" class="team-token" title="John Doe">
              <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" class="front" height="46" width="46" />
              <img src="{{ STATIC_URL }}images/temp2.jpg" alt="John Doe" class="back" height="46" width="46" />
            </a>
            <div class="right">
              2299<br/>
              Rachel Schartzenhaller<br/>
              <a href="#">The Barbarian Group (TBG)</a>
            </div>
          </li>
          <li class="clearfix">
            <a href="#" class="team-token" title="John Doe">
              <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" class="front" height="46" width="46" />
              <img src="{{ STATIC_URL }}images/temp2.jpg" alt="John Doe" class="back" height="46" width="46" />
            </a>
            <div class="right">
              2299<br/>
              Rachel Schartzenhaller<br/>
              <a href="#">The Barbarian Group (TBG)</a>
            </div>
          </li>
          <li class="clearfix">
            <a href="#" class="team-token" title="John Doe">
              <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" class="front" height="46" width="46" />
              <img src="{{ STATIC_URL }}images/temp2.jpg" alt="John Doe" class="back" height="46" width="46" />
            </a>
            <div class="right">
              2299<br/>
              Rachel Schartzenhaller<br/>
              <a href="#">The Barbarian Group (TBG)</a>
            </div>
          </li>
          <li class="clearfix">
            <a href="#" class="team-token" title="John Doe">
              <img src="{{ STATIC_URL }}images/temp.jpg" alt="John Doe" class="front" height="46" width="46" />
              <img src="{{ STATIC_URL }}images/temp2.jpg" alt="John Doe" class="back" height="46" width="46" />
            </a>
            <div class="right">
              2299<br/>
              Rachel Schartzenhaller<br/>
              <a href="#">The Barbarian Group (TBG)</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-2 grid omega schedule">
        <h3>Schedule &amp; Scores</h3>
        <ul>
          <li><a href="#">BBX 4 RGA 2</a></li>
          <li><a href="#" class="badger">RGA 3 LBi 1</a></li>
          <li><a href="#">UC @ TBG</a></li>
          <li><a href="#">BS @ HGE</a></li>
          <li><a href="#" class="badger">UC @ TBG</a></li>
          <li><a href="#">BBX @ RGA</a></li>
          <li><a href="#">RGA @ LBi</a></li>
          <li><a href="#">UC @ TBG</a></li>
          <li><a href="#">BS @ HGE</a></li>
        </ul>
        <a href="#" class="more">Full schedule &raquo;</a>
        <a href="#" class="more">Scoreboard &raquo;</a>
      </div>
  
  </div>
</section>
{% endblock %}
