{% extends "theleague/teams.html" %}

{% block title %}{{ profile.full_name }} on {{ team.name }} - Teams | {% endblock %}

{% block copy %}
  <span class="team-token">
    <img src="{{ profile.pixelate_avatar.url }}" alt="{{ profile.full_name }}" class="front" height="46" width="46" />
    <img src="{{ profile.thumbnail_avatar.url }}" alt="{{ profile.full_name }}" class="back" height="46" width="46" />
  </span>
  <h3>{{ profile.full_name }} - {{ profile.rating }}</h3>
  {% if profile.bio %}{{ profile.bio }}{% endif %}
  {% external_link profile.website %}
  {% external_link profile.twitter %}
  {% external_link profile.facebook %}
  {% external_link profile.linked_in %}
{% endblock copy %}

