{% extends "base.html" %}

{% block content %}
<section class="col-12 grid teams">
  <div class="left">
    <h1>Teams</h1>
    <ul class="nav">
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#" class="on">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
      <li><a href="#">Blenderbox (BBX)</a></li>
    </ul>
  </div>
  <div class="copy clearfix">
      <h2>Blenderbox (BBX)</h2>
      <div class="col-4">
          <h4>address: </h4>
          <address>
              <a href="#">26 Dobbins Street, 3rd Floor. <br/>
              Brooklyn, NY 11222. Directions »</a>
          </address>
          <h4>contact:</h4>
          <p class="info">
              Damon Jablons<br/>
              <a href="mailto:djablons@blenderbox.com">djablons@blenderbox.com</a>
          </p>
          <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          </p>
      </div>
  
        {% include "theleague/widgets/players.html" %}
        {% include "theleague/widgets/schedule.html" %}
  </div>
</section>
{% endblock %}
